---
import { Icon } from "astro-icon";
import coreImage from "~/assets/music.png";
import ThemeSwitcher from "~/components/theme-switcher.astro";
import type { NavItem } from "~/types";
import logo from "~/images/logo-l.svg";

const navItems: Array<NavItem> = [
  { title: "The Journey", url: "#intro", target: "_self" },
  { title: "Contact Us", url: "https://us17.list-manage.com/contact-form?u=6a6529403b261e63b16bb75ba&form_id=877821e585acdd9310ee07a997ca41e8", target: "_blank" },
  // { title: "About", url: "#intro" },
  // { title: "Learning", url: "#features" },
  // { title: "Venue", url: "#venue" },
  // { title: "Facilitators", url: "#facilitators" },
];
---

<header
  id="page-header"
  class="absolute z-20 flex w-full items-center justify-between border-b border-transparent px-8 py-4 text-white"
>
  <a class="flex items-center gap-3 hover:!text-default" href="#">
    <h1 class="sr-only">Transformational Tango</h1>

    <div id="header-home-icon" class="w-16 h-auto sm:h-12">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="100%" viewBox="0 0 476 324" enable-background="new 0 0 476 324" xml:space="preserve">
      <path fill="transparent" opacity="1.000000" stroke="none" 
        d="
      M283.000000,1.000002 
        C347.649017,1.000000 412.298035,1.000000 476.973511,1.000000 
        C476.973511,108.952873 476.973511,216.905762 476.973511,324.929321 
        C318.423767,324.929321 159.847504,324.929321 1.135617,324.929321 
        C1.135617,217.120026 1.135617,109.239838 1.135617,1.000000 
        C93.687790,1.000000 186.376053,1.000000 279.517273,1.358788 
        C276.898895,9.122456 270.347382,12.398337 263.510315,14.925325 
        C249.125214,20.242079 234.712509,18.335249 220.242828,14.705019 
        C208.652664,11.797211 197.002213,8.301377 185.190552,7.313238 
        C170.250137,6.063353 155.091919,6.330445 140.253113,9.968922 
        C125.479179,13.591493 111.808998,18.949194 101.507286,30.921093 
        C90.099449,44.178448 93.710030,64.017891 108.851059,69.947098 
        C109.465698,80.460152 115.657379,88.146370 124.191635,88.990570 
        C132.990005,89.860893 139.649048,87.617569 140.599228,83.463120 
        C129.452301,82.254173 123.801437,77.126961 122.439476,66.836685 
        C120.953537,55.609734 122.506454,45.234150 130.864319,36.538731 
        C140.668396,26.338705 153.381317,24.031921 166.437836,23.093063 
        C187.579193,21.572851 206.967148,28.498856 226.070145,36.504162 
        C236.511261,40.879612 246.725540,45.893536 258.679810,45.112289 
        C267.609680,44.528706 271.583954,41.886185 274.089355,33.493111 
        C274.506683,32.095062 276.417908,30.217567 277.706482,30.163157 
        C283.691925,29.910408 289.047546,27.739599 290.573547,22.101494 
        C292.144440,16.297495 291.922607,9.832563 286.615326,5.058026 
        C285.276703,3.853776 284.198090,2.360478 283.000000,1.000002 
      M303.230011,185.017960 
        C302.520569,184.328201 301.811127,183.638428 301.023376,182.020798 
        C301.015594,176.559219 301.075470,171.096512 300.983337,165.636353 
        C300.860992,158.387466 300.650574,151.145752 305.134094,144.209625 
        C315.640320,134.513947 325.835266,137.283737 328.468964,151.313950 
        C330.739594,163.410172 331.729797,175.800049 327.803467,187.968613 
        C327.604919,188.583969 329.057617,190.491425 329.813416,190.534470 
        C335.516815,190.859329 341.238953,190.948715 346.953369,190.898758 
        C347.954437,190.890030 348.946747,189.881256 349.943115,189.334351 
        C349.176544,188.550980 348.536865,187.317993 347.622040,187.059830 
        C342.941559,185.738953 341.010590,182.785690 340.940887,177.963257 
        C340.819031,169.528931 340.568329,161.082138 339.936249,152.673294 
        C339.202820,142.917023 333.175140,136.351852 323.872284,133.833176 
        C315.190308,131.482620 307.955322,133.440170 301.363647,139.692902 
        C301.188049,138.119537 301.012451,136.546188 300.836853,134.499313 
        C300.660278,134.164627 300.391022,134.052551 299.269745,134.044632 
        C293.277618,136.143997 287.285522,138.243347 280.344513,140.675140 
        C281.785950,141.265915 282.959106,141.431519 283.661163,142.095337 
        C285.541046,143.872879 287.986206,145.588837 288.792206,147.836533 
        C289.920837,150.983871 289.768677,154.590500 290.038361,158.928696 
        C290.080353,164.620361 290.122345,170.312027 290.034485,176.792099 
        C289.688904,178.216278 289.347473,179.641495 288.996948,181.064453 
        C288.077087,184.798889 284.320068,187.554077 280.660919,186.948456 
        C276.579132,186.272873 275.053406,183.593887 274.961639,179.585403 
        C274.750305,170.353653 274.394562,161.123825 273.979309,151.898529 
        C273.616241,143.833008 267.441010,135.305756 260.718506,134.146011 
        C256.223206,133.370468 251.578506,133.461243 246.211777,133.044220 
        C242.335846,134.760941 238.151459,136.022598 234.698395,138.363174 
        C232.589752,139.792450 230.314499,142.950928 230.436783,145.206863 
        C230.597061,148.163406 232.543442,151.614517 237.792603,150.954269 
        C238.861465,149.669678 240.084442,148.481689 240.963928,147.078400 
        C242.367783,144.838501 242.959808,141.398483 244.917404,140.317886 
        C252.945145,135.886581 261.271393,140.017822 262.795868,149.036758 
        C263.434326,152.813843 262.902100,156.788818 262.902100,159.951630 
        C256.587708,159.321213 250.794205,158.742783 244.212570,158.044083 
        C238.436356,159.370468 232.302643,160.375427 229.050583,166.070953 
        C223.020462,176.631851 227.504074,191.130997 244.844757,192.958679 
        C247.613571,192.488876 250.382401,192.019073 253.886551,191.674911 
        C255.961273,190.130341 258.036011,188.585770 260.806305,186.981064 
        C265.127167,185.624374 261.559235,190.474503 263.794098,189.835678 
        C272.863434,189.835678 281.932770,189.835678 291.914764,189.962357 
        C295.599487,190.014938 299.284241,190.067520 303.458221,190.744217 
        C305.282135,190.348251 307.106049,189.952286 308.929962,189.556305 
        C307.557404,188.372162 306.212158,187.153519 304.792328,186.029083 
        C304.452911,185.760254 303.864899,185.805298 303.322754,185.670609 
        C303.322754,185.670609 303.303925,185.595825 303.230011,185.017960 
      M394.031891,197.807587 
        C392.780060,203.180649 392.424500,208.917068 387.369354,213.181152 
        C386.895050,213.753983 386.420715,214.326813 385.106903,214.986267 
        C380.530212,215.236389 375.699249,216.535599 371.433746,215.501770 
        C364.225800,213.754730 361.773682,207.701004 361.875183,200.564240 
        C360.241455,200.831192 358.750854,200.874374 357.400208,201.331299 
        C352.448181,203.006516 350.122192,208.665359 353.367462,212.408905 
        C356.015594,215.463608 359.419434,218.427521 363.100922,219.908112 
        C371.541412,223.302628 380.360291,222.919006 389.772614,220.025665 
        C400.386902,216.160873 404.433502,209.891678 404.891113,197.825058 
        C405.375488,185.053085 404.924896,172.247925 405.026855,159.458405 
        C405.092834,151.180298 403.755035,142.597122 410.046875,135.220215 
        C407.988831,135.080734 406.510345,134.980545 404.631226,134.300476 
        C400.532623,134.907898 396.453705,135.541229 395.294128,140.946243 
        C393.897827,139.948242 392.501526,138.950226 390.771912,137.316223 
        C381.449921,129.346878 363.564728,132.779327 356.026093,141.921585 
        C348.584106,150.946625 347.652466,161.339218 350.212036,172.190964 
        C352.406525,181.494675 357.369263,188.838364 367.156219,191.553986 
        C375.065613,193.748596 382.946716,194.360916 390.701599,188.768463 
        C391.855621,188.287231 393.009674,187.806015 394.164429,187.324493 
        C394.164429,191.066177 394.164429,194.034088 394.031891,197.807587 
      M179.838150,56.462433 
        C178.892105,62.106865 177.316925,67.730408 177.128662,73.400002 
        C176.714172,85.882088 176.907242,98.388611 177.067108,110.882416 
        C177.105469,113.879547 176.136108,115.154205 173.267349,116.121925 
        C158.726852,121.026817 144.281433,119.829887 130.013245,115.439827 
        C108.281540,108.753372 86.284607,106.213135 63.603966,108.891464 
        C49.696335,110.533806 36.277985,113.576035 24.382971,121.028610 
        C15.074044,126.860931 7.070614,133.906540 5.744283,146.227280 
        C4.120881,161.307602 8.459772,168.194168 18.837807,170.898636 
        C19.489553,181.456177 25.622990,189.110809 34.135139,189.989929 
        C42.742298,190.878891 49.672256,188.643250 50.822758,184.347488 
        C44.024517,184.052597 38.146057,181.750946 34.889042,175.459869 
        C28.999945,164.084869 32.000500,146.926132 40.739491,137.671906 
        C50.327633,127.518448 62.894627,125.229851 75.750687,124.101646 
        C90.251907,122.829056 104.326485,125.758011 117.961571,130.543518 
        C126.166191,133.423096 134.295090,136.595291 142.232452,140.140930 
        C153.257614,145.065887 164.503281,147.780304 176.987610,144.966476 
        C176.987610,162.064240 177.294495,178.540863 176.783859,194.992126 
        C176.646667,199.412308 174.307251,204.121933 169.315567,205.821259 
        C164.426361,207.485672 159.364578,208.643188 154.294388,210.046463 
        C154.294388,213.369797 154.294388,216.962708 154.294388,221.614807 
        C177.936707,217.453705 201.298447,217.786499 224.725174,221.531113 
        C224.725174,216.663635 224.725174,213.068237 224.725174,209.493179 
        C221.394531,208.965851 218.331451,208.490906 215.271866,207.994354 
        C208.974792,206.972351 203.008469,202.079636 202.116730,196.765701 
        C201.464386,192.878082 201.061798,188.900803 201.047302,184.961670 
        C200.954529,159.757126 200.874588,134.551270 201.041092,109.347496 
        C201.166183,90.410690 201.616348,71.475304 202.021561,52.541420 
        C202.207428,43.856148 205.986938,39.589069 214.408585,37.966541 
        C215.374481,37.780449 216.252060,37.135948 218.172577,36.232777 
        C204.166580,32.704697 185.322968,39.187218 179.838150,56.462433 
      M87.000000,182.510483 
        C86.999985,219.508255 87.008453,256.506012 86.991753,293.503784 
        C86.988907,299.795502 84.729462,304.896179 78.448517,307.106079 
        C73.886986,308.710999 69.116684,309.722595 64.268898,311.045288 
        C64.268898,314.308868 64.268898,317.901886 64.268898,322.591705 
        C87.893692,318.539764 111.257797,318.726776 134.743134,322.494904 
        C134.743134,317.707245 134.743134,314.112976 134.743134,310.462860 
        C131.277512,309.946930 128.005295,309.667908 124.834244,308.945068 
        C117.891777,307.362427 111.839531,301.720032 111.881142,293.803284 
        C112.123726,247.640732 111.996994,201.476242 112.002342,155.312424 
        C112.003517,145.102173 115.152321,141.263428 125.209229,138.910934 
        C125.972832,138.732315 126.547432,137.745667 127.209885,137.134628 
        C127.015625,136.659821 126.821365,136.184998 126.627106,135.710190 
        C122.095482,136.143387 117.438400,136.056778 113.057457,137.114227 
        C102.848137,139.578506 94.802025,144.721191 90.741249,155.286118 
        C87.444885,163.862289 86.989761,172.596634 87.000000,182.510483 
      M456.218018,136.060791 
        C436.938049,126.625679 410.643677,138.648529 412.962708,164.503754 
        C414.412689,180.669891 423.933228,191.241730 439.672455,192.920486 
        C453.898682,194.437881 467.303528,185.621887 470.192108,171.348511 
        C472.880219,158.065826 470.986237,143.967224 456.218018,136.060791 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M282.625000,1.000002 
        C284.198090,2.360478 285.276703,3.853776 286.615326,5.058026 
        C291.922607,9.832563 292.144440,16.297495 290.573547,22.101494 
        C289.047546,27.739599 283.691925,29.910408 277.706482,30.163157 
        C276.417908,30.217567 274.506683,32.095062 274.089355,33.493111 
        C271.583954,41.886185 267.609680,44.528706 258.679810,45.112289 
        C246.725540,45.893536 236.511261,40.879612 226.070145,36.504162 
        C206.967148,28.498856 187.579193,21.572851 166.437836,23.093063 
        C153.381317,24.031921 140.668396,26.338705 130.864319,36.538731 
        C122.506454,45.234150 120.953537,55.609734 122.439476,66.836685 
        C123.801437,77.126961 129.452301,82.254173 140.599228,83.463120 
        C139.649048,87.617569 132.990005,89.860893 124.191635,88.990570 
        C115.657379,88.146370 109.465698,80.460152 108.851059,69.947098 
        C93.710030,64.017891 90.099449,44.178448 101.507286,30.921093 
        C111.808998,18.949194 125.479179,13.591493 140.253113,9.968922 
        C155.091919,6.330445 170.250137,6.063353 185.190552,7.313238 
        C197.002213,8.301377 208.652664,11.797211 220.242828,14.705019 
        C234.712509,18.335249 249.125214,20.242079 263.510315,14.925325 
        C270.347382,12.398337 276.898895,9.122456 279.985107,1.358788 
        C280.750000,1.000000 281.500000,1.000000 282.625000,1.000002 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M179.908295,56.068275 
        C185.322968,39.187218 204.166580,32.704697 218.172577,36.232777 
        C216.252060,37.135948 215.374481,37.780449 214.408585,37.966541 
        C205.986938,39.589069 202.207428,43.856148 202.021561,52.541420 
        C201.616348,71.475304 201.166183,90.410690 201.041092,109.347496 
        C200.874588,134.551270 200.954529,159.757126 201.047302,184.961670 
        C201.061798,188.900803 201.464386,192.878082 202.116730,196.765701 
        C203.008469,202.079636 208.974792,206.972351 215.271866,207.994354 
        C218.331451,208.490906 221.394531,208.965851 224.725174,209.493179 
        C224.725174,213.068237 224.725174,216.663635 224.725174,221.531113 
        C201.298447,217.786499 177.936707,217.453705 154.294388,221.614807 
        C154.294388,216.962708 154.294388,213.369797 154.294388,210.046463 
        C159.364578,208.643188 164.426361,207.485672 169.315567,205.821259 
        C174.307251,204.121933 176.646667,199.412308 176.783859,194.992126 
        C177.294495,178.540863 176.987610,162.064240 176.987610,144.966476 
        C164.503281,147.780304 153.257614,145.065887 142.232452,140.140930 
        C134.295090,136.595291 126.166191,133.423096 117.961571,130.543518 
        C104.326485,125.758011 90.251907,122.829056 75.750687,124.101646 
        C62.894627,125.229851 50.327633,127.518448 40.739491,137.671906 
        C32.000500,146.926132 28.999945,164.084869 34.889042,175.459869 
        C38.146057,181.750946 44.024517,184.052597 50.822758,184.347488 
        C49.672256,188.643250 42.742298,190.878891 34.135139,189.989929 
        C25.622990,189.110809 19.489553,181.456177 18.837807,170.898636 
        C8.459772,168.194168 4.120881,161.307602 5.744283,146.227280 
        C7.070614,133.906540 15.074044,126.860931 24.382971,121.028610 
        C36.277985,113.576035 49.696335,110.533806 63.603966,108.891464 
        C86.284607,106.213135 108.281540,108.753372 130.013245,115.439827 
        C144.281433,119.829887 158.726852,121.026817 173.267349,116.121925 
        C176.136108,115.154205 177.105469,113.879547 177.067108,110.882416 
        C176.907242,98.388611 176.714172,85.882088 177.128662,73.400002 
        C177.316925,67.730408 178.892105,62.106865 179.908295,56.068275 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M87.000000,182.013046 
        C86.989761,172.596634 87.444885,163.862289 90.741249,155.286118 
        C94.802025,144.721191 102.848137,139.578506 113.057457,137.114227 
        C117.438400,136.056778 122.095482,136.143387 126.627106,135.710190 
        C126.821365,136.184998 127.015625,136.659821 127.209885,137.134628 
        C126.547432,137.745667 125.972832,138.732315 125.209229,138.910934 
        C115.152321,141.263428 112.003517,145.102173 112.002342,155.312424 
        C111.996994,201.476242 112.123726,247.640732 111.881142,293.803284 
        C111.839531,301.720032 117.891777,307.362427 124.834244,308.945068 
        C128.005295,309.667908 131.277512,309.946930 134.743134,310.462860 
        C134.743134,314.112976 134.743134,317.707245 134.743134,322.494904 
        C111.257797,318.726776 87.893692,318.539764 64.268898,322.591705 
        C64.268898,317.901886 64.268898,314.308868 64.268898,311.045288 
        C69.116684,309.722595 73.886986,308.710999 78.448517,307.106079 
        C84.729462,304.896179 86.988907,299.795502 86.991753,293.503784 
        C87.008453,256.506012 86.999985,219.508255 87.000000,182.013046 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M456.556091,136.240005 
        C470.986237,143.967224 472.880219,158.065826 470.192108,171.348511 
        C467.303528,185.621887 453.898682,194.437881 439.672455,192.920486 
        C423.933228,191.241730 414.412689,180.669891 412.962708,164.503754 
        C410.643677,138.648529 436.938049,126.625679 456.556091,136.240005 
      M454.108856,181.635025 
        C461.484589,170.488739 461.208008,158.690750 456.234589,146.961395 
        C453.143341,139.671021 446.416565,138.036682 439.140625,139.065628 
        C432.821625,139.959274 428.955261,144.059402 426.952240,149.930420 
        C424.153137,158.134918 424.735046,166.221832 426.678955,174.678345 
        C429.449554,186.731277 445.079590,191.791519 454.108856,181.635025 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M247.000671,133.164368 
        C251.578506,133.461243 256.223206,133.370468 260.718506,134.146011 
        C267.441010,135.305756 273.616241,143.833008 273.979309,151.898529 
        C274.394562,161.123825 274.750305,170.353653 274.961639,179.585403 
        C275.053406,183.593887 276.579132,186.272873 280.660919,186.948456 
        C284.320068,187.554077 288.077087,184.798889 288.996948,181.064453 
        C289.347473,179.641495 289.688904,178.216278 290.450623,176.446075 
        C293.845947,177.365097 294.548920,179.433365 293.367645,182.434006 
        C292.420868,184.838943 291.779205,187.363968 291.002136,189.835678 
        C281.932770,189.835678 272.863434,189.835678 263.794098,189.835678 
        C261.559235,190.474503 265.127167,185.624374 260.099060,186.996292 
        C258.582764,186.635239 257.773712,186.258972 257.111389,185.583435 
        C259.159271,183.061005 262.075867,181.119598 262.784515,178.565567 
        C265.742279,167.905624 261.719482,163.072922 250.569565,163.003250 
        C249.082840,162.993958 247.595856,163.028671 245.817490,162.813080 
        C245.350876,161.110245 245.175781,159.637299 245.000671,158.164368 
        C250.794205,158.742783 256.587708,159.321213 262.902100,159.951630 
        C262.902100,156.788818 263.434326,152.813843 262.795868,149.036758 
        C261.271393,140.017822 252.945145,135.886581 244.917404,140.317886 
        C242.959808,141.398483 242.367783,144.838501 240.963928,147.078400 
        C240.084442,148.481689 238.861465,149.669678 237.345734,150.541519 
        C236.638489,147.900116 235.373535,144.947266 236.341705,143.604279 
        C237.995987,141.309525 240.841782,139.234055 243.569077,138.514816 
        C246.960571,137.620438 247.231781,135.823242 247.000671,133.164368 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M390.104828,189.048294 
        C382.946716,194.360916 375.065613,193.748596 367.156219,191.553986 
        C357.369263,188.838364 352.406525,181.494675 350.212036,172.190964 
        C347.652466,161.339218 348.584106,150.946625 356.026093,141.921585 
        C363.564728,132.779327 381.449921,129.346878 390.604858,137.805786 
        C389.946686,139.901962 389.455566,141.508560 388.646667,142.948151 
        C380.684113,135.748398 368.497894,137.704254 364.075592,146.853424 
        C359.288635,156.757111 359.782806,167.192078 363.351074,177.072357 
        C365.646393,183.427917 370.815247,187.993896 378.695740,186.990128 
        C381.126312,186.680557 383.542053,186.254868 386.152588,186.157684 
        C387.595337,187.304810 388.850098,188.176544 390.104828,189.048294 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M302.000244,140.165466 
        C307.955322,133.440170 315.190308,131.482620 323.872284,133.833176 
        C333.175140,136.351852 339.202820,142.917023 339.936249,152.673294 
        C340.568329,161.082138 340.819031,169.528931 340.940887,177.963257 
        C341.010590,182.785690 342.941559,185.738953 347.622040,187.059830 
        C348.536865,187.317993 349.176544,188.550980 349.943115,189.334351 
        C348.946747,189.881256 347.954437,190.890030 346.953369,190.898758 
        C341.238953,190.948715 335.516815,190.859329 329.813416,190.534470 
        C329.057617,190.491425 327.604919,188.583969 327.803467,187.968613 
        C331.729797,175.800049 330.739594,163.410172 328.468964,151.313950 
        C325.835266,137.283737 315.640320,134.513947 304.719055,144.242264 
        C304.304047,144.274902 304.000000,144.000000 303.957550,143.679932 
        C303.276825,142.295059 302.638550,141.230255 302.000244,140.165466 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M388.964417,143.115173 
        C389.455566,141.508560 389.946686,139.901962 390.771545,138.123779 
        C392.501526,138.950226 393.897827,139.948242 395.696411,141.283752 
        C399.514435,143.369675 404.499298,139.608124 405.031860,134.880341 
        C406.510345,134.980545 407.988831,135.080734 410.046875,135.220215 
        C403.755035,142.597122 405.092834,151.180298 405.026855,159.458405 
        C404.924896,172.247925 405.375488,185.053085 404.891113,197.825058 
        C404.433502,209.891678 400.386902,216.160873 389.392029,219.682892 
        C387.989777,217.859955 386.968079,216.379807 385.946411,214.899658 
        C386.420715,214.326813 386.895050,213.753983 388.069153,213.082779 
        C394.388062,214.123611 396.338684,210.900696 396.971344,206.096619 
        C397.098328,205.132385 397.119873,204.119308 397.447205,203.222641 
        C398.665497,199.885117 397.528748,197.877548 394.164429,197.001999 
        C394.164429,194.034088 394.164429,191.066177 394.164429,187.324493 
        C393.009674,187.806015 391.855621,188.287231 390.403198,188.908386 
        C388.850098,188.176544 387.595337,187.304810 386.261963,185.900177 
        C386.751923,184.897827 387.320526,184.428345 388.325806,183.971558 
        C395.452301,183.995636 396.102448,183.160553 398.447754,174.335495 
        C399.365631,170.881729 398.591064,168.908432 395.101868,167.555374 
        C395.081024,164.406052 395.122711,161.703354 395.553955,158.998291 
        C396.833954,158.722107 398.183014,158.722946 398.538818,158.128922 
        C400.525909,154.811050 395.785126,146.359558 391.612732,145.915497 
        C390.546967,144.898590 389.755676,144.006882 388.964417,143.115173 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M291.458435,189.899017 
        C291.779205,187.363968 292.420868,184.838943 293.367645,182.434006 
        C294.548920,179.433365 293.845947,177.365097 290.515533,176.051880 
        C290.122345,170.312027 290.080353,164.620361 290.479706,158.462509 
        C294.750488,156.746048 294.750488,156.746048 290.142731,150.852753 
        C295.809021,149.028442 291.659576,145.691849 291.254272,142.779419 
        C293.953705,141.507446 296.516479,140.299866 299.079285,139.092285 
        C298.908020,139.578598 298.736786,140.064911 298.565521,140.551208 
        C300.377014,141.700806 302.188507,142.850403 304.000000,144.000000 
        C304.000000,144.000000 304.304047,144.274902 304.438110,144.435486 
        C300.650574,151.145752 300.860992,158.387466 300.983337,165.636353 
        C301.075470,171.096512 301.015594,176.559219 300.780487,182.702164 
        C299.624817,186.415375 301.472260,185.995728 303.303925,185.595825 
        C303.303925,185.595825 303.322754,185.670609 303.221558,186.122131 
        C303.069885,187.755798 303.019440,188.937958 302.968994,190.120102 
        C299.284241,190.067520 295.599487,190.014938 291.458435,189.899017 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M385.526672,214.942963 
        C386.968079,216.379807 387.989777,217.859955 389.021301,219.730072 
        C380.360291,222.919006 371.541412,223.302628 363.100922,219.908112 
        C359.419434,218.427521 356.015594,215.463608 353.367462,212.408905 
        C350.122192,208.665359 352.448181,203.006516 357.400208,201.331299 
        C358.750854,200.874374 360.241455,200.831192 361.875183,200.564240 
        C361.773682,207.701004 364.225800,213.754730 371.433746,215.501770 
        C375.699249,216.535599 380.530212,215.236389 385.526672,214.942963 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M253.151215,191.549271 
        C250.382401,192.019073 247.613571,192.488876 244.350311,192.559967 
        C242.600418,191.453613 241.391022,190.643478 240.081894,190.055313 
        C232.627090,186.706070 229.884155,181.843567 231.034821,173.879730 
        C231.960510,167.472839 238.634445,162.461365 243.849411,164.407318 
        C238.265610,167.635452 237.639771,172.570633 237.833130,178.179596 
        C237.615417,184.265457 240.319504,188.512451 245.774857,190.213226 
        C247.390427,190.716904 249.481812,189.694427 252.214890,189.223007 
        C252.250137,189.310593 252.700684,190.429932 253.151215,191.549271 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M244.032745,164.119522 
        C238.634445,162.461365 231.960510,167.472839 231.034821,173.879730 
        C229.884155,181.843567 232.627090,186.706070 240.081894,190.055313 
        C241.391022,190.643478 242.600418,191.453613 243.925674,192.498459 
        C227.504074,191.130997 223.020462,176.631851 229.050583,166.070953 
        C232.302643,160.375427 238.436356,159.370468 244.606628,158.104218 
        C245.175781,159.637299 245.350876,161.110245 245.661743,163.083374 
        C245.209244,163.762222 244.620987,163.940872 244.032745,164.119522 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M303.957550,143.679932 
        C302.188507,142.850403 300.377014,141.700806 298.565521,140.551208 
        C298.736786,140.064911 298.908020,139.578598 299.079285,139.092285 
        C296.516479,140.299866 293.953705,141.507446 291.254272,142.779419 
        C291.659576,145.691849 295.809021,149.028442 290.142731,150.852753 
        C294.750488,156.746048 294.750488,156.746048 290.542725,157.998474 
        C289.768677,154.590500 289.920837,150.983871 288.792206,147.836533 
        C287.986206,145.588837 285.541046,143.872879 283.661163,142.095337 
        C282.959106,141.431519 281.785950,141.265915 280.344513,140.675140 
        C287.285522,138.243347 293.277618,136.143997 299.740509,134.277924 
        C300.373138,134.728363 300.581665,134.882217 300.836884,134.972824 
        C301.012451,136.546188 301.188049,138.119537 301.681946,139.929184 
        C302.638550,141.230255 303.276825,142.295059 303.957550,143.679932 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M246.606232,133.104294 
        C247.231781,135.823242 246.960571,137.620438 243.569077,138.514816 
        C240.841782,139.234055 237.995987,141.309525 236.341705,143.604279 
        C235.373535,144.947266 236.638489,147.900116 236.948257,150.482208 
        C232.543442,151.614517 230.597061,148.163406 230.436783,145.206863 
        C230.314499,142.950928 232.589752,139.792450 234.698395,138.363174 
        C238.151459,136.022598 242.335846,134.760941 246.606232,133.104294 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M253.518890,191.612091 
        C252.700684,190.429932 252.250137,189.310593 252.214890,189.223007 
        C249.481812,189.694427 247.390427,190.716904 245.774857,190.213226 
        C240.319504,188.512451 237.615417,184.265457 238.123734,178.379410 
        C241.141495,186.270203 247.545731,188.905441 256.964661,185.882690 
        C257.773712,186.258972 258.582764,186.635239 259.751282,187.026367 
        C258.036011,188.585770 255.961273,190.130341 253.518890,191.612091 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M394.098145,197.404785 
        C397.528748,197.877548 398.665497,199.885117 397.447205,203.222641 
        C397.119873,204.119308 397.098328,205.132385 396.971344,206.096619 
        C396.338684,210.900696 394.388062,214.123611 388.329041,212.971649 
        C392.424500,208.917068 392.780060,203.180649 394.098145,197.404785 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M404.831543,134.590408 
        C404.499298,139.608124 399.514435,143.369675 396.027649,141.255554 
        C396.453705,135.541229 400.532623,134.907898 404.831543,134.590408 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M303.213623,190.432159 
        C303.019440,188.937958 303.069885,187.755798 303.255798,186.139832 
        C303.864899,185.805298 304.452911,185.760254 304.792328,186.029083 
        C306.212158,187.153519 307.557404,188.372162 308.929962,189.556305 
        C307.106049,189.952286 305.282135,190.348251 303.213623,190.432159 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M303.266968,185.306885 
        C301.472260,185.995728 299.624817,186.415375 300.819641,183.166092 
        C301.811127,183.638428 302.520569,184.328201 303.266968,185.306885 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M300.836853,134.736069 
        C300.581665,134.882217 300.373138,134.728363 300.120178,134.337158 
        C300.391022,134.052551 300.660278,134.164627 300.836853,134.736069 
      z"/>
      <path fill="transparent" opacity="1.000000" stroke="none" 
        d="
      M454.001282,181.993866 
        C445.079590,191.791519 429.449554,186.731277 426.678955,174.678345 
        C424.735046,166.221832 424.153137,158.134918 426.952240,149.930420 
        C428.955261,144.059402 432.821625,139.959274 439.140625,139.065628 
        C446.416565,138.036682 453.143341,139.671021 456.234589,146.961395 
        C461.208008,158.690750 461.484589,170.488739 454.001282,181.993866 
      z"/>
      <path fill="transparent" opacity="1.000000" stroke="none" 
        d="
      M257.111389,185.583435 
        C247.545731,188.905441 241.141495,186.270203 238.411163,178.167969 
        C237.639771,172.570633 238.265610,167.635452 243.849411,164.407318 
        C244.620987,163.940872 245.209244,163.762222 245.953247,163.313293 
        C247.595856,163.028671 249.082840,162.993958 250.569565,163.003250 
        C261.719482,163.072922 265.742279,167.905624 262.784515,178.565567 
        C262.075867,181.119598 259.159271,183.061005 257.111389,185.583435 
      z"/>
      <path fill="transparent" opacity="1.000000" stroke="none" 
        d="
      M395.164398,159.000641 
        C395.122711,161.703354 395.081024,164.406052 395.036102,167.948883 
        C392.651642,173.845627 390.270386,178.902252 387.889130,183.958878 
        C387.320526,184.428345 386.751923,184.897827 386.073975,185.624817 
        C383.542053,186.254868 381.126312,186.680557 378.695740,186.990128 
        C370.815247,187.993896 365.646393,183.427917 363.351074,177.072357 
        C359.782806,167.192078 359.288635,156.757111 364.075592,146.853424 
        C368.497894,137.704254 380.684113,135.748398 388.646667,142.948151 
        C389.755676,144.006882 390.546967,144.898590 391.677185,146.296143 
        C393.065552,150.868195 394.114990,154.934418 395.164398,159.000641 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M388.325806,183.971558 
        C390.270386,178.902252 392.651642,173.845627 395.098663,168.395493 
        C398.591064,168.908432 399.365631,170.881729 398.447754,174.335495 
        C396.102448,183.160553 395.452301,183.995636 388.325806,183.971558 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M395.553955,158.998291 
        C394.114990,154.934418 393.065552,150.868195 391.951660,146.421326 
        C395.785126,146.359558 400.525909,154.811050 398.538818,158.128922 
        C398.183014,158.722946 396.833954,158.722107 395.553955,158.998291 
      z"/>
      </svg>
    </div>
    <div id="header-home-words" class="hidden h-12 font-['Milonga']"><h1>Transformational Tango</h1><span class="tagline">dance, connect, evolve</span></div>
  </a>
  <div>
    <div class="flex items-center gap-6">
      <nav class="hidden sm:block">
        <ul class="flex items-center gap-6">
          {
            navItems.map(({ title, url, target, }) => (
              <li>
                <a class="text-sm" href={url} target={target}>
                  {title}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <button
        id="open-nav-button"
        type="button"
        class="btn sm:hidden"
        aria-label="Navigation"
      >
        <Icon pack="mdi" name="menu" class="h-8" />
      </button>
      <ThemeSwitcher />
    </div>
    <div id="menu-modal" class="modal hidden" aria-hidden="true">
      <div class="fixed inset-0 bg-default px-8 py-4 text-default">
        <div class="space-y-4" role="dialog" aria-modal="true">
          <header class="text-right">
            <button
              id="close-nav-button"
              type="button"
              class="btn"
              aria-label="Close navigation"
            >
              <Icon pack="mdi" name="close" class="h-8" />
            </button>
          </header>
          <div class="flex justify-center">
            <Icon pack="simple-icons" name="bytedance" class="h-16" />
          </div>
          <nav>
            <ul class="flex flex-col">
              {
                navItems.map(({ title, url }) => (
                  <li>
                    <a class="block py-4 text-center text-xl" href={url}>
                      {title}
                    </a>
                  </li>
                ))
              }
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  import MicroModal from "micromodal";
  import invariant from "tiny-invariant";

  const menuModalId = "menu-modal";

  const header = document.querySelector("#page-header") as HTMLElement;
  const headerHomeIcon = document.querySelector("#header-home-icon") as HTMLElement;
  const headerHomeWords = document.querySelector("#header-home-words") as HTMLElement;
  const page = document.documentElement;
  const menu = document.querySelector(`#${menuModalId} ul`);
  const openNavButton = document.querySelector("#open-nav-button");
  const closeNavButton = document.querySelector("#close-nav-button");

  invariant(header, "header should not be null");
  invariant(menu, "menu should not be null");
  invariant(openNavButton, "openNavButton should not be null");
  invariant(closeNavButton, "closeNavButton should not be null");

  const openMenu = () => {
    MicroModal.show(menuModalId, { disableScroll: true });
  };

  const closeMenu = () => {
    MicroModal.close(menuModalId);
  };

  openNavButton.addEventListener("click", openMenu);
  closeNavButton.addEventListener("click", closeMenu);

  document.addEventListener("scroll", () => {
    const d = page.clientHeight - page.scrollTop - header.offsetHeight;
    header.classList.toggle("fixed-header", d < 0);
    headerHomeIcon.classList.toggle("sm:block", d < 0);
    headerHomeWords.classList.toggle("sm:block", d < 0);
  });

  menu.addEventListener("click", (event) => {
    if ((event.target as HTMLElement).tagName === "A") {
      closeMenu();
    }
  });
</script>

<noscript>
  <style>
    #open-nav-button {
      display: none;
    }
  </style>
</noscript>

<style>
  .fixed-header {
    @apply fixed bottom-auto top-0;
    @apply border-default bg-default text-default;
  }
  .modal.is-open {
    @apply block;
  }
  .tagline {
    display: block;
    color: #ED768D;
    font-size: 16px;
    margin-top: -6px;
    text-align: right;
    margin-right: 1px;
  }
</style>
