---
import { Icon } from "astro-icon";
import coreImage from "~/assets/music.png";
import ThemeSwitcher from "~/components/theme-switcher.astro";
import type { NavItem } from "~/types";
import logo from "~/images/logo-l.svg";

const navItems: Array<NavItem> = [
  { title: "The Journey", url: "#intro", target: "_self" },
  { title: "Contact Us", url: "https://us17.list-manage.com/contact-form?u=6a6529403b261e63b16bb75ba&form_id=877821e585acdd9310ee07a997ca41e8", target: "_blank" },
  // { title: "About", url: "#intro" },
  // { title: "Learning", url: "#features" },
  // { title: "Venue", url: "#venue" },
  // { title: "Facilitators", url: "#facilitators" },
];
---

<header
  id="page-header"
  class="absolute z-20 flex w-full items-center justify-between border-b border-transparent px-8 py-4 text-white"
>
  <a class="flex items-center gap-3 hover:!text-default" href="#">
    <h1 class="sr-only">Transformational Tango</h1>

    <div id="header-home-icon" class="w-16 h-auto sm:h-12">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="100%" viewBox="0 0 580 324" enable-background="new 0 0 580 324" xml:space="preserve">
      <path fill="transparent" opacity="1.000000" stroke="none" 
        d="
      M283.000000,1.000002 
        C382.309601,1.000000 481.619171,1.000000 580.964355,1.000000 
        C580.964355,108.950417 580.964355,216.900848 580.964355,324.925659 
        C387.762482,324.925659 194.524918,324.925659 1.143684,324.925659 
        C1.143684,217.121780 1.143684,109.243301 1.143684,1.000000 
        C93.688995,1.000000 186.378464,1.000000 279.519073,1.358788 
        C276.898895,9.122456 270.347382,12.398337 263.510315,14.925325 
        C249.125214,20.242079 234.712509,18.335249 220.242828,14.705019 
        C208.652664,11.797211 197.002213,8.301377 185.190552,7.313238 
        C170.250137,6.063353 155.091919,6.330445 140.253113,9.968922 
        C125.479179,13.591493 111.808998,18.949194 101.507286,30.921093 
        C90.099449,44.178448 93.710030,64.017891 108.851059,69.947098 
        C109.465698,80.460152 115.657379,88.146370 124.191635,88.990570 
        C132.990005,89.860893 139.649048,87.617569 140.599228,83.463120 
        C129.452301,82.254173 123.801437,77.126961 122.439476,66.836685 
        C120.953537,55.609734 122.506454,45.234150 130.864319,36.538731 
        C140.668396,26.338705 153.381317,24.031921 166.437836,23.093063 
        C187.579193,21.572851 206.967148,28.498856 226.070145,36.504162 
        C236.511261,40.879612 246.725540,45.893536 258.679810,45.112289 
        C267.609680,44.528706 271.583954,41.886185 274.089355,33.493111 
        C274.506683,32.095062 276.417908,30.217567 277.706482,30.163157 
        C283.691925,29.910408 289.047546,27.739599 290.573547,22.101494 
        C292.144440,16.297495 291.922607,9.832563 286.615326,5.058026 
        C285.276703,3.853776 284.198090,2.360478 283.000000,1.000002 
      M311.163116,127.500710 
        C311.339722,127.835388 311.609009,127.947456 312.712097,127.964355 
        C313.461792,128.012024 314.211456,128.059708 315.338654,128.695084 
        C320.447449,130.340027 320.541565,134.819778 321.038239,139.930130 
        C321.080292,152.287415 321.122345,164.644714 321.035278,177.750473 
        C320.352325,184.236908 314.729034,184.679321 310.271912,186.548416 
        C311.883270,190.750565 312.546173,191.119247 316.366394,190.286942 
        C317.796295,189.975403 319.279144,189.906799 321.490112,189.926743 
        C329.871368,189.926743 338.252625,189.926743 346.792816,189.926743 
        C347.342133,187.849884 347.264435,186.410919 343.842377,185.714020 
        C337.850800,184.493820 336.010773,181.442657 336.002045,175.043091 
        C335.992767,168.240631 336.288574,161.422775 335.927856,154.639481 
        C335.463837,145.913010 336.719421,137.679977 341.718414,129.739243 
        C343.398743,128.423065 344.921356,126.800110 346.785583,125.841568 
        C357.246582,120.462685 367.039154,123.411446 370.441742,135.015854 
        C371.447906,138.447327 372.177551,142.084793 372.246674,145.643158 
        C372.471191,157.199890 372.445618,168.765549 372.261108,180.323700 
        C372.205872,183.783569 371.314423,187.230087 370.907776,189.992065 
        C380.855652,189.992065 389.835968,189.992065 399.009186,189.992065 
        C398.931854,188.530823 398.846558,186.918716 398.766144,185.398849 
        C389.724335,183.476593 388.369781,181.367966 387.911224,172.693329 
        C387.269287,160.548553 386.804626,148.306488 384.843628,136.338806 
        C381.419220,115.440399 354.955414,111.475334 343.435822,120.035240 
        C341.076752,121.788208 338.549469,123.314857 336.023071,124.095284 
        C335.960999,122.387794 335.898956,120.680313 335.836884,118.499290 
        C335.660278,118.164612 335.390991,118.052544 334.356018,118.049316 
        C333.904205,118.087677 333.452423,118.126038 332.249054,118.043198 
        C326.499573,120.081543 320.750092,122.119888 314.248413,124.032585 
        C313.489899,124.076096 312.731384,124.119606 311.499329,124.163101 
        C311.164673,124.339699 311.052582,124.608971 311.043457,125.652878 
        C311.083344,126.110977 311.123230,126.569077 311.163116,127.500710 
      M20.709961,123.082710 
        C13.092914,129.613129 6.013876,136.502121 5.323444,147.395859 
        C4.532147,159.881058 7.549989,168.169693 18.713118,170.724182 
        C19.844067,182.709412 26.212393,189.842468 35.922218,189.999802 
        C45.323311,190.152145 50.066368,188.350800 50.544388,184.446518 
        C42.502949,183.306778 37.381889,180.437515 34.904648,175.683762 
        C29.200968,164.738571 31.909573,147.190689 40.242558,138.174255 
        C50.113777,127.493423 63.122406,125.043167 76.544556,124.087883 
        C95.390320,122.746582 112.996040,128.165817 130.262787,135.047791 
        C145.104202,140.963104 159.346954,149.709290 176.971207,144.737061 
        C176.971207,162.055023 177.309662,178.692398 176.740997,195.298676 
        C176.592789,199.627182 174.136749,204.339722 169.036407,205.953430 
        C164.255478,207.466080 159.378708,208.675827 154.400436,210.058807 
        C154.400436,213.351685 154.400436,217.065704 154.400436,221.772476 
        C178.030334,217.258636 201.282043,217.878326 224.621368,221.522766 
        C224.621368,216.670288 224.621368,212.952774 224.621368,209.427246 
        C221.132050,208.908447 218.033630,208.501144 214.954727,207.978745 
        C208.777924,206.930725 202.810333,201.745331 202.088623,196.448990 
        C201.488556,192.045364 201.064529,187.580582 201.046707,183.140945 
        C200.948822,158.767639 200.873489,134.392883 201.040512,110.020332 
        C201.171448,90.915443 201.400864,71.803276 202.104706,52.713448 
        C202.484741,42.405746 206.952377,38.847076 214.740417,37.926517 
        C215.613327,37.823338 216.385513,36.868183 217.204407,36.308121 
        C205.676682,34.602097 195.466980,36.158581 187.104019,44.348225 
        C179.451721,51.841919 177.506561,61.509045 177.124588,71.438835 
        C176.618958,84.582695 176.908035,97.761772 177.068848,110.923111 
        C177.105850,113.951263 176.065277,115.162598 173.228165,116.131966 
        C161.599579,120.105164 149.835159,120.004341 138.066772,117.477592 
        C124.619080,114.590263 111.414047,109.875687 97.841736,108.453163 
        C82.959473,106.893349 67.776054,107.232735 52.834438,110.466621 
        C41.606628,112.896706 30.996094,116.489632 20.709961,123.082710 
      M124.586838,138.995499 
        C125.344635,138.561539 126.102440,138.127594 126.860245,137.693649 
        C126.236710,137.135361 125.637527,136.121841 124.986000,136.086990 
        C115.101082,135.558334 105.925270,137.766174 98.285919,144.291504 
        C89.238487,152.019592 87.214630,162.890717 87.126511,173.834946 
        C86.806038,213.637619 86.989914,253.444443 87.010063,293.249695 
        C87.013374,299.784729 84.672623,304.948914 78.253960,307.232483 
        C73.841331,308.802368 69.182228,309.679504 64.341858,310.942322 
        C64.341858,314.222443 64.341858,317.938080 64.341858,322.641663 
        C88.016022,318.395172 111.373360,318.855988 134.690170,322.429382 
        C134.690170,317.578613 134.690170,313.983215 134.690170,310.446045 
        C131.308823,309.930603 128.216965,309.568024 125.170464,308.973053 
        C118.054527,307.583496 111.819580,301.672668 111.866997,293.659210 
        C112.139954,247.526703 111.997185,201.391754 112.002365,155.257629 
        C112.003418,145.870605 114.955528,141.813904 124.586838,138.995499 
      M456.807800,190.629211 
        C459.404358,189.012817 462.000916,187.396408 465.926849,184.952438 
        C464.895844,193.988647 464.792419,202.283020 462.851196,210.122299 
        C460.155060,221.010239 452.181519,224.266785 443.635803,223.734680 
        C432.708557,223.054321 426.838898,220.080292 424.118744,207.989990 
        C423.769379,206.437241 423.801544,204.798645 423.636047,202.968613 
        C418.263123,203.214661 414.483521,205.368515 412.145111,209.800339 
        C410.325378,213.249054 411.025513,217.125107 413.416992,219.406769 
        C417.317017,223.127701 422.112366,225.930786 426.637878,228.959885 
        C427.662506,229.645691 429.115479,229.872192 430.396088,229.963959 
        C436.158508,230.376907 441.981720,231.309067 447.686096,230.849823 
        C456.561798,230.135223 465.347168,228.414780 471.981750,221.514648 
        C478.528961,214.705414 479.681000,205.909393 479.866180,197.244247 
        C480.289551,177.433075 479.808990,157.603653 480.125946,137.788513 
        C480.211914,132.413422 478.494507,125.914818 485.450867,122.572433 
        C486.125488,122.248306 485.835083,119.915604 486.031647,118.168350 
        C478.964294,117.763618 472.634735,117.554321 467.980072,123.597527 
        C467.495483,124.226692 464.879913,124.240540 464.267365,123.587875 
        C457.430603,116.303337 448.557495,115.118042 439.578064,116.189400 
        C430.778015,117.239365 422.758759,120.293221 416.452179,127.671867 
        C407.601044,138.027725 406.968628,150.091431 408.276672,162.249023 
        C409.361908,172.335602 413.485291,181.648682 422.856140,187.461441 
        C433.385651,193.992889 444.525696,194.325989 456.807800,190.629211 
      M269.607971,116.836037 
        C268.167847,116.557495 266.737274,116.109528 265.286072,116.028084 
        C256.347717,115.526497 247.944534,116.405716 240.268417,122.126663 
        C235.851196,125.418800 233.152130,129.926468 235.611740,134.017136 
        C238.193771,138.311356 243.697403,139.267487 248.485748,136.253738 
        C247.566391,130.240692 250.339706,125.669701 255.839127,124.133881 
        C264.499756,121.715225 272.882874,124.505447 274.808899,131.401932 
        C276.533112,137.575592 276.820374,144.150558 277.805115,150.989548 
        C275.360718,150.828522 274.307495,150.988113 273.431641,150.665833 
        C265.162109,147.622849 256.745056,147.131226 248.164398,149.007385 
        C233.786774,152.151031 225.912659,164.274094 231.532486,178.889816 
        C236.636108,192.162964 256.621765,197.514084 269.127319,189.283142 
        C271.694855,187.593216 273.999420,185.503784 276.701080,183.381805 
        C276.943634,185.692474 277.156555,187.720871 277.390320,189.947998 
        C285.953918,189.947998 294.209625,189.947998 303.758636,189.947998 
        C302.525055,188.221497 301.750000,185.884094 300.265137,185.273956 
        C293.615723,182.541611 292.121643,180.616470 291.974976,173.729919 
        C291.731598,162.301697 292.036987,150.799744 290.802612,139.471436 
        C289.468658,127.228523 282.608673,118.191956 269.607971,116.836037 
      M500.013092,145.972076 
        C500.242676,152.079498 499.529388,158.405045 500.882050,164.252670 
        C504.647156,180.529556 515.508972,189.730484 531.819702,192.880676 
        C543.871582,195.208313 560.499207,188.413635 567.472412,178.128723 
        C574.841858,167.259308 577.009644,155.319855 573.213562,142.923035 
        C571.349426,136.835388 568.464050,130.108749 563.936646,125.976944 
        C552.872681,115.879761 539.189697,113.445557 524.757202,117.728256 
        C511.109650,121.778046 503.188629,131.346451 500.013092,145.972076 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M282.625000,1.000002 
        C284.198090,2.360478 285.276703,3.853776 286.615326,5.058026 
        C291.922607,9.832563 292.144440,16.297495 290.573547,22.101494 
        C289.047546,27.739599 283.691925,29.910408 277.706482,30.163157 
        C276.417908,30.217567 274.506683,32.095062 274.089355,33.493111 
        C271.583954,41.886185 267.609680,44.528706 258.679810,45.112289 
        C246.725540,45.893536 236.511261,40.879612 226.070145,36.504162 
        C206.967148,28.498856 187.579193,21.572851 166.437836,23.093063 
        C153.381317,24.031921 140.668396,26.338705 130.864319,36.538731 
        C122.506454,45.234150 120.953537,55.609734 122.439476,66.836685 
        C123.801437,77.126961 129.452301,82.254173 140.599228,83.463120 
        C139.649048,87.617569 132.990005,89.860893 124.191635,88.990570 
        C115.657379,88.146370 109.465698,80.460152 108.851059,69.947098 
        C93.710030,64.017891 90.099449,44.178448 101.507286,30.921093 
        C111.808998,18.949194 125.479179,13.591493 140.253113,9.968922 
        C155.091919,6.330445 170.250137,6.063353 185.190552,7.313238 
        C197.002213,8.301377 208.652664,11.797211 220.242828,14.705019 
        C234.712509,18.335249 249.125214,20.242079 263.510315,14.925325 
        C270.347382,12.398337 276.898895,9.122456 279.985107,1.358788 
        C280.750000,1.000000 281.500000,1.000000 282.625000,1.000002 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M21.059017,122.980820 
        C30.996094,116.489632 41.606628,112.896706 52.834438,110.466621 
        C67.776054,107.232735 82.959473,106.893349 97.841736,108.453163 
        C111.414047,109.875687 124.619080,114.590263 138.066772,117.477592 
        C149.835159,120.004341 161.599579,120.105164 173.228165,116.131966 
        C176.065277,115.162598 177.105850,113.951263 177.068848,110.923111 
        C176.908035,97.761772 176.618958,84.582695 177.124588,71.438835 
        C177.506561,61.509045 179.451721,51.841919 187.104019,44.348225 
        C195.466980,36.158581 205.676682,34.602097 217.204407,36.308121 
        C216.385513,36.868183 215.613327,37.823338 214.740417,37.926517 
        C206.952377,38.847076 202.484741,42.405746 202.104706,52.713448 
        C201.400864,71.803276 201.171448,90.915443 201.040512,110.020332 
        C200.873489,134.392883 200.948822,158.767639 201.046707,183.140945 
        C201.064529,187.580582 201.488556,192.045364 202.088623,196.448990 
        C202.810333,201.745331 208.777924,206.930725 214.954727,207.978745 
        C218.033630,208.501144 221.132050,208.908447 224.621368,209.427246 
        C224.621368,212.952774 224.621368,216.670288 224.621368,221.522766 
        C201.282043,217.878326 178.030334,217.258636 154.400436,221.772476 
        C154.400436,217.065704 154.400436,213.351685 154.400436,210.058807 
        C159.378708,208.675827 164.255478,207.466080 169.036407,205.953430 
        C174.136749,204.339722 176.592789,199.627182 176.740997,195.298676 
        C177.309662,178.692398 176.971207,162.055023 176.971207,144.737061 
        C159.346954,149.709290 145.104202,140.963104 130.262787,135.047791 
        C112.996040,128.165817 95.390320,122.746582 76.544556,124.087883 
        C63.122406,125.043167 50.113777,127.493423 40.242558,138.174255 
        C31.909573,147.190689 29.200968,164.738571 34.904648,175.683762 
        C37.381889,180.437515 42.502949,183.306778 50.544388,184.446518 
        C50.066368,188.350800 45.323311,190.152145 35.922218,189.999802 
        C26.212393,189.842468 19.844067,182.709412 18.713118,170.724182 
        C7.549989,168.169693 4.532147,159.881058 5.323444,147.395859 
        C6.013876,136.502121 13.092914,129.613129 21.059017,122.980820 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M124.175232,139.005768 
        C114.955528,141.813904 112.003418,145.870605 112.002365,155.257629 
        C111.997185,201.391754 112.139954,247.526703 111.866997,293.659210 
        C111.819580,301.672668 118.054527,307.583496 125.170464,308.973053 
        C128.216965,309.568024 131.308823,309.930603 134.690170,310.446045 
        C134.690170,313.983215 134.690170,317.578613 134.690170,322.429382 
        C111.373360,318.855988 88.016022,318.395172 64.341858,322.641663 
        C64.341858,317.938080 64.341858,314.222443 64.341858,310.942322 
        C69.182228,309.679504 73.841331,308.802368 78.253960,307.232483 
        C84.672623,304.948914 87.013374,299.784729 87.010063,293.249695 
        C86.989914,253.444443 86.806038,213.637619 87.126511,173.834946 
        C87.214630,162.890717 89.238487,152.019592 98.285919,144.291504 
        C105.925270,137.766174 115.101082,135.558334 124.986000,136.086990 
        C125.637527,136.121841 126.236710,137.135361 126.860245,137.693649 
        C126.102440,138.127594 125.344635,138.561539 124.175232,139.005768 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M456.440186,190.776642 
        C444.525696,194.325989 433.385651,193.992889 422.856140,187.461441 
        C413.485291,181.648682 409.361908,172.335602 408.276672,162.249023 
        C406.968628,150.091431 407.601044,138.027725 416.452179,127.671867 
        C422.758759,120.293221 430.778015,117.239365 439.578064,116.189400 
        C448.557495,115.118042 457.430603,116.303337 464.267365,123.587875 
        C464.879913,124.240540 467.495483,124.226692 467.980072,123.597527 
        C472.634735,117.554321 478.964294,117.763618 486.031647,118.168350 
        C485.835083,119.915604 486.125488,122.248306 485.450867,122.572433 
        C478.494507,125.914818 480.211914,132.413422 480.125946,137.788513 
        C479.808990,157.603653 480.289551,177.433075 479.866180,197.244247 
        C479.681000,205.909393 478.528961,214.705414 471.981750,221.514648 
        C465.347168,228.414780 456.561798,230.135223 447.686096,230.849823 
        C441.981720,231.309067 436.158508,230.376907 430.396088,229.963959 
        C429.115479,229.872192 427.662506,229.645691 426.637878,228.959885 
        C422.112366,225.930786 417.317017,223.127701 413.416992,219.406769 
        C411.025513,217.125107 410.325378,213.249054 412.145111,209.800339 
        C414.483521,205.368515 418.263123,203.214661 423.636047,202.968613 
        C423.801544,204.798645 423.769379,206.437241 424.118744,207.989990 
        C426.838898,220.080292 432.708557,223.054321 443.635803,223.734680 
        C452.181519,224.266785 460.155060,221.010239 462.851196,210.122299 
        C464.792419,202.283020 464.895844,193.988647 465.926849,184.952438 
        C462.000916,187.396408 459.404358,189.012817 456.440186,190.776642 
      M434.061951,182.611313 
        C444.205505,188.339859 456.055267,185.989944 461.687714,176.470398 
        C468.634521,164.729431 469.681122,143.747833 460.876251,131.297745 
        C456.561371,125.196556 450.450989,122.665001 443.537292,123.202805 
        C435.419098,123.834297 428.963440,127.641548 425.878387,135.961639 
        C422.077667,146.211807 422.038177,156.688385 424.270081,167.073837 
        C425.518768,172.884125 427.467285,178.924637 434.061951,182.611313 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M270.039276,116.899269 
        C282.608673,118.191956 289.468658,127.228523 290.802612,139.471436 
        C292.036987,150.799744 291.731598,162.301697 291.974976,173.729919 
        C292.121643,180.616470 293.615723,182.541611 300.265137,185.273956 
        C301.750000,185.884094 302.525055,188.221497 303.758636,189.947998 
        C294.209625,189.947998 285.953918,189.947998 277.390320,189.947998 
        C277.156555,187.720871 276.943634,185.692474 276.701080,183.381805 
        C273.999420,185.503784 271.694855,187.593216 269.127319,189.283142 
        C256.621765,197.514084 236.636108,192.162964 231.532486,178.889816 
        C225.912659,164.274094 233.786774,152.151031 248.164398,149.007385 
        C256.745056,147.131226 265.162109,147.622849 273.431641,150.665833 
        C274.307495,150.988113 275.360718,150.828522 277.805115,150.989548 
        C276.820374,144.150558 276.533112,137.575592 274.808899,131.401932 
        C272.882874,124.505447 264.499756,121.715225 255.839127,124.133881 
        C250.339706,125.669701 247.566391,130.240692 248.485748,136.253738 
        C243.697403,139.267487 238.193771,138.311356 235.611740,134.017136 
        C233.152130,129.926468 235.851196,125.418800 240.268417,122.126663 
        C247.944534,116.405716 256.347717,115.526497 265.286072,116.028084 
        C266.737274,116.109528 268.167847,116.557495 270.039276,116.899269 
      M247.359055,160.126846 
        C241.436707,170.717316 245.994110,182.320541 257.175903,185.120697 
        C264.278351,186.899307 274.120148,182.834396 276.342621,175.604202 
        C277.927795,170.447281 276.750610,164.436020 276.732880,158.806213 
        C276.731934,158.504318 276.086823,158.142838 275.682495,157.912979 
        C269.082184,154.160751 254.691025,150.580276 247.359055,160.126846 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M500.044250,145.525909 
        C503.188629,131.346451 511.109650,121.778046 524.757202,117.728256 
        C539.189697,113.445557 552.872681,115.879761 563.936646,125.976944 
        C568.464050,130.108749 571.349426,136.835388 573.213562,142.923035 
        C577.009644,155.319855 574.841858,167.259308 567.472412,178.128723 
        C560.499207,188.413635 543.871582,195.208313 531.819702,192.880676 
        C515.508972,189.730484 504.647156,180.529556 500.882050,164.252670 
        C499.529388,158.405045 500.242676,152.079498 500.044250,145.525909 
      M525.614136,182.080765 
        C536.024902,189.311417 549.659058,185.004745 554.295166,176.158615 
        C561.372009,162.655243 561.856445,148.483047 555.727234,134.933640 
        C549.732239,121.680847 535.153809,119.989113 524.454590,127.336670 
        C518.309631,131.556625 516.124390,138.442230 515.461792,145.352768 
        C514.203308,158.479019 513.890930,171.631699 525.614136,182.080765 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M336.099731,124.945816 
        C338.549469,123.314857 341.076752,121.788208 343.435822,120.035240 
        C354.955414,111.475334 381.419220,115.440399 384.843628,136.338806 
        C386.804626,148.306488 387.269287,160.548553 387.911224,172.693329 
        C388.369781,181.367966 389.724335,183.476593 398.766144,185.398849 
        C398.846558,186.918716 398.931854,188.530823 399.009186,189.992065 
        C389.835968,189.992065 380.855652,189.992065 370.907776,189.992065 
        C371.314423,187.230087 372.205872,183.783569 372.261108,180.323700 
        C372.445618,168.765549 372.471191,157.199890 372.246674,145.643158 
        C372.177551,142.084793 371.447906,138.447327 370.441742,135.015854 
        C367.039154,123.411446 357.246582,120.462685 346.785583,125.841568 
        C344.921356,126.800110 343.398743,128.423065 340.982361,129.877487 
        C334.381317,129.854553 334.212463,129.648132 336.099731,124.945816 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M336.061401,124.520554 
        C334.212463,129.648132 334.381317,129.854553 340.679565,130.028198 
        C336.719421,137.679977 335.463837,145.913010 335.927856,154.639481 
        C336.288574,161.422775 335.992767,168.240631 336.002045,175.043091 
        C336.010773,181.442657 337.850800,184.493820 343.842377,185.714020 
        C347.264435,186.410919 347.342133,187.849884 346.792816,189.926743 
        C338.252625,189.926743 329.871368,189.926743 321.186523,189.377197 
        C321.535309,187.513733 321.910950,185.926041 322.890625,184.936035 
        C326.131958,181.660461 325.696014,179.298477 321.164429,177.001999 
        C321.122345,164.644714 321.080292,152.287415 321.487488,139.463135 
        C324.740356,139.140411 325.527863,137.754700 324.589233,135.298141 
        C323.612152,132.740921 322.482941,130.241791 321.473785,127.844398 
        C325.934204,125.215721 333.144989,126.126945 333.000610,118.164398 
        C333.452423,118.126038 333.904205,118.087677 334.783630,118.280273 
        C335.373138,118.728340 335.581696,118.882202 335.836884,118.972824 
        C335.898956,120.680313 335.960999,122.387794 336.061401,124.520554 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M332.624817,118.103798 
        C333.144989,126.126945 325.934204,125.215721 321.473785,127.844398 
        C322.482941,130.241791 323.612152,132.740921 324.589233,135.298141 
        C325.527863,137.754700 324.740356,139.140411 321.550568,138.998383 
        C320.541565,134.819778 320.447449,130.340027 315.163483,128.003754 
        C314.992401,126.261040 314.996490,125.209633 315.000610,124.158234 
        C320.750092,122.119888 326.499573,120.081543 332.624817,118.103798 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M321.099854,177.376236 
        C325.696014,179.298477 326.131958,181.660461 322.890625,184.936035 
        C321.910950,185.926041 321.535309,187.513733 320.810425,189.277527 
        C319.279144,189.906799 317.796295,189.975403 316.366394,190.286942 
        C312.546173,191.119247 311.883270,190.750565 310.271820,186.548309 
        C314.729034,184.679321 320.352325,184.236908 321.099854,177.376236 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M314.624512,124.095413 
        C314.996490,125.209633 314.992401,126.261040 314.974731,127.709908 
        C314.211456,128.059708 313.461792,128.012024 312.250427,127.726562 
        C311.626862,127.271660 311.418304,127.117798 311.163116,127.027176 
        C311.123230,126.569077 311.083344,126.110977 311.277344,125.220795 
        C311.728363,124.626869 311.882233,124.418335 311.972870,124.163116 
        C312.731384,124.119606 313.489899,124.076096 314.624512,124.095413 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M335.836884,118.736053 
        C335.581696,118.882202 335.373138,118.728340 335.120148,118.337158 
        C335.390991,118.052544 335.660278,118.164612 335.836884,118.736053 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M311.736084,124.163116 
        C311.882233,124.418335 311.728363,124.626869 311.337158,124.879822 
        C311.052582,124.608971 311.164673,124.339699 311.736084,124.163116 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M311.163116,127.263947 
        C311.418304,127.117798 311.626862,127.271660 311.879852,127.662842 
        C311.609009,127.947456 311.339722,127.835388 311.163116,127.263947 
      z"/>
      <path fill="transparent" opacity="1.000000" stroke="none" 
        d="
      M433.764099,182.377808 
        C427.467285,178.924637 425.518768,172.884125 424.270081,167.073837 
        C422.038177,156.688385 422.077667,146.211807 425.878387,135.961639 
        C428.963440,127.641548 435.419098,123.834297 443.537292,123.202805 
        C450.450989,122.665001 456.561371,125.196556 460.876251,131.297745 
        C469.681122,143.747833 468.634521,164.729431 461.687714,176.470398 
        C456.055267,185.989944 444.205505,188.339859 433.764099,182.377808 
      z"/>
      <path fill="transparent" opacity="1.000000" stroke="none" 
        d="
      M247.638336,159.862335 
        C254.691025,150.580276 269.082184,154.160751 275.682495,157.912979 
        C276.086823,158.142838 276.731934,158.504318 276.732880,158.806213 
        C276.750610,164.436020 277.927795,170.447281 276.342621,175.604202 
        C274.120148,182.834396 264.278351,186.899307 257.175903,185.120697 
        C245.994110,182.320541 241.436707,170.717316 247.638336,159.862335 
      z"/>
      <path fill="transparent" opacity="1.000000" stroke="none" 
        d="
      M525.342163,181.830170 
        C513.890930,171.631699 514.203308,158.479019 515.461792,145.352768 
        C516.124390,138.442230 518.309631,131.556625 524.454590,127.336670 
        C535.153809,119.989113 549.732239,121.680847 555.727234,134.933640 
        C561.856445,148.483047 561.372009,162.655243 554.295166,176.158615 
        C549.659058,185.004745 536.024902,189.311417 525.342163,181.830170 
      z"/>
      </svg>
    </div>
    <div id="header-home-words" class="hidden h-12 font-['Milonga']"><h1>Transformational Tango</h1><span class="tagline">dance, connect, evolve</span></div>
  </a>
  <div>
    <div class="flex items-center gap-6">
      <nav class="hidden sm:block">
        <ul class="flex items-center gap-6">
          {
            navItems.map(({ title, url, target, }) => (
              <li>
                <a class="text-sm" href={url} target={target}>
                  {title}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <button
        id="open-nav-button"
        type="button"
        class="btn sm:hidden"
        aria-label="Navigation"
      >
        <Icon pack="mdi" name="menu" class="h-8" />
      </button>
      <ThemeSwitcher />
    </div>
    <div id="menu-modal" class="modal hidden" aria-hidden="true">
      <div class="fixed inset-0 bg-default px-8 py-4 text-default">
        <div class="space-y-4" role="dialog" aria-modal="true">
          <header class="text-right">
            <button
              id="close-nav-button"
              type="button"
              class="btn"
              aria-label="Close navigation"
            >
              <Icon pack="mdi" name="close" class="h-8" />
            </button>
          </header>
          <div class="flex justify-center">
            <Icon pack="simple-icons" name="bytedance" class="h-16" />
          </div>
          <nav>
            <ul class="flex flex-col">
              {
                navItems.map(({ title, url }) => (
                  <li>
                    <a class="block py-4 text-center text-xl" href={url}>
                      {title}
                    </a>
                  </li>
                ))
              }
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  import MicroModal from "micromodal";
  import invariant from "tiny-invariant";

  const menuModalId = "menu-modal";

  const header = document.querySelector("#page-header") as HTMLElement;
  const headerHomeIcon = document.querySelector("#header-home-icon") as HTMLElement;
  const headerHomeWords = document.querySelector("#header-home-words") as HTMLElement;
  const page = document.documentElement;
  const menu = document.querySelector(`#${menuModalId} ul`);
  const openNavButton = document.querySelector("#open-nav-button");
  const closeNavButton = document.querySelector("#close-nav-button");

  invariant(header, "header should not be null");
  invariant(menu, "menu should not be null");
  invariant(openNavButton, "openNavButton should not be null");
  invariant(closeNavButton, "closeNavButton should not be null");

  const openMenu = () => {
    MicroModal.show(menuModalId, { disableScroll: true });
  };

  const closeMenu = () => {
    MicroModal.close(menuModalId);
  };

  openNavButton.addEventListener("click", openMenu);
  closeNavButton.addEventListener("click", closeMenu);

  document.addEventListener("scroll", () => {
    const d = page.clientHeight - page.scrollTop - header.offsetHeight;
    header.classList.toggle("fixed-header", d < 0);
    headerHomeIcon.classList.toggle("sm:block", d < 0);
    headerHomeWords.classList.toggle("sm:block", d < 0);
  });

  menu.addEventListener("click", (event) => {
    if ((event.target as HTMLElement).tagName === "A") {
      closeMenu();
    }
  });
</script>

<noscript>
  <style>
    #open-nav-button {
      display: none;
    }
  </style>
</noscript>

<style>
  .fixed-header {
    @apply fixed bottom-auto top-0;
    @apply border-default bg-default text-default;
  }
  .modal.is-open {
    @apply block;
  }
  .tagline {
    display: block;
    color: #ED768D;
    font-size: 16px;
    margin-top: -6px;
    text-align: right;
    margin-right: 1px;
  }
</style>
