---
import { Icon } from "astro-icon";
import coreImage from "~/assets/music.png";
import ThemeSwitcher from "~/components/theme-switcher.astro";
import type { NavItem } from "~/types";
import logo from "~/images/logo-l.svg";

const navItems: Array<NavItem> = [
  { title: "The Journey", url: "#intro", target: "_self" },
  { title: "Contact Us", url: "https://us17.list-manage.com/contact-form?u=6a6529403b261e63b16bb75ba&form_id=877821e585acdd9310ee07a997ca41e8", target: "_blank" },
  // { title: "About", url: "#intro" },
  // { title: "Learning", url: "#features" },
  // { title: "Venue", url: "#venue" },
  // { title: "Facilitators", url: "#facilitators" },
];
---

<header
  id="page-header"
  class="absolute z-20 flex w-full items-center justify-between border-b border-transparent px-8 py-4 text-white"
>
  <a class="flex items-center gap-3 hover:!text-default" href="#">
    <h1 class="sr-only">Transformational Tango</h1>

    <div id="header-home-icon" class="w-16 h-auto sm:h-12">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="100%" viewBox="0 0 752 328" enable-background="new 0 0 752 328" xml:space="preserve">
      <path fill="transparent" opacity="1.000000" stroke="none" 
        d="
      M1.000002,149.000000 
        C1.000000,99.717857 1.000000,50.435711 1.000000,1.000000 
        C92.020836,1.000000 183.041763,1.000000 274.421936,1.317714 
        C272.476837,3.770929 270.427002,6.301977 267.825562,7.975766 
        C254.103790,16.804531 239.043976,16.435122 223.907791,13.363991 
        C210.429504,10.629245 197.240021,5.563416 183.673874,4.377782 
        C162.267059,2.506903 140.629333,3.444193 120.358559,12.103626 
        C103.474976,19.316090 89.871231,29.672977 91.919991,51.197491 
        C92.561989,57.942444 95.765625,62.997749 102.002991,65.628967 
        C103.295349,66.174149 104.319855,67.783554 105.061157,69.126884 
        C107.486061,73.521103 108.896324,78.812592 112.230759,82.286728 
        C116.973152,87.227821 129.717880,87.339653 135.545547,83.605148 
        C136.354797,83.086563 136.607651,81.699738 137.255600,80.449463 
        C125.960648,79.488289 121.135880,73.678223 119.374420,66.639442 
        C117.506454,59.175049 117.663429,51.390759 120.558716,44.405098 
        C122.695084,39.250523 126.190063,34.011833 130.476486,30.530329 
        C139.394730,23.286777 150.496140,20.815348 161.787735,20.054424 
        C182.563278,18.654387 201.729126,24.849613 220.586380,32.755020 
        C232.045303,37.558884 243.272690,43.530354 256.492706,42.080513 
        C262.352234,41.437901 269.135284,38.012688 269.610199,33.333687 
        C270.153809,27.978245 272.589508,27.017918 277.338287,26.817562 
        C283.011658,26.578194 287.450043,20.739891 288.072662,15.021736 
        C288.724243,9.037374 285.471985,5.040928 282.000000,1.000000 
        C438.888275,1.000000 595.776550,1.000000 753.000000,1.000000 
        C753.000000,48.687038 753.000000,96.374863 752.669067,144.361237 
        C751.882324,143.265579 751.323242,141.895782 750.986084,140.473404 
        C746.703552,122.407639 736.775574,108.645973 719.635193,101.000481 
        C707.241760,95.472404 694.230713,93.909393 680.554565,95.855194 
        C660.486267,98.710472 645.220032,108.260262 636.033081,126.308014 
        C628.026550,142.036758 627.369995,158.906143 631.494873,175.834335 
        C635.256042,191.270325 643.799255,203.476852 657.378052,212.212280 
        C668.578735,219.417831 680.737427,221.082413 693.729797,221.130829 
        C720.248291,221.229630 743.991882,203.288315 750.158569,176.903137 
        C750.717529,174.511368 752.034851,172.296844 753.000000,170.000000 
        C753.000000,222.970291 753.000000,275.940582 753.000000,329.000000 
        C545.979126,329.000000 338.958221,329.000000 131.468658,328.536896 
        C131.000000,324.475586 131.000000,320.877380 131.000000,317.472504 
        C127.196365,316.907318 124.081467,316.605469 121.039505,315.959961 
        C114.046135,314.475922 107.820206,308.826996 107.869034,300.534576 
        C108.141541,254.253723 107.981583,207.970428 108.017433,161.688004 
        C108.023689,153.605164 111.644325,146.828918 120.816971,145.918671 
        C121.652969,145.835724 122.396538,144.821304 123.886246,143.719193 
        C111.205910,141.612411 98.321854,145.888931 91.300461,154.263779 
        C84.834053,161.976654 83.151573,171.473160 83.096176,181.046738 
        C82.866943,220.668533 82.973167,260.292419 83.025223,299.915466 
        C83.034393,306.891174 80.414444,312.197083 73.701180,314.579407 
        C69.449547,316.088165 64.892929,316.737518 60.000000,317.883026 
        C60.000000,321.404388 60.000000,325.202179 60.000000,329.000000 
        C40.372162,329.000000 20.744324,329.000000 1.000000,329.000000 
        C1.000000,274.979156 1.000000,220.958237 1.332083,166.593567 
        C4.337902,172.103958 7.924978,176.932739 14.830359,177.487900 
        C15.465990,188.735001 21.925392,196.455994 30.749605,196.997101 
        C39.943150,197.560867 45.837650,195.541779 46.741314,191.286072 
        C39.872086,191.113937 34.031727,188.679306 30.840754,182.348541 
        C23.804970,168.389816 29.087955,148.606598 42.063931,140.005096 
        C55.749985,130.932922 71.319405,129.895706 86.860725,131.289474 
        C102.627823,132.703476 117.527359,138.122513 132.034302,144.479233 
        C145.311020,150.296890 158.606888,156.402802 173.996109,151.353394 
        C173.996109,163.627457 174.477158,175.474106 173.843613,187.260834 
        C173.338669,196.654907 170.268265,204.090073 158.043015,205.136200 
        C155.474442,205.355988 152.946777,206.053894 150.404907,206.530609 
        C150.404907,210.355255 150.404907,214.068893 150.404907,218.717651 
        C174.040939,214.447906 197.292175,214.726486 220.613831,218.508408 
        C220.613831,213.660431 220.613831,209.948563 220.613831,206.349197 
        C217.126648,205.829361 213.998596,205.530701 210.947235,204.875076 
        C203.442566,203.262543 198.034088,196.892807 198.025894,189.421448 
        C197.975433,143.426239 197.953400,97.430832 198.040070,51.435719 
        C198.057816,42.016598 202.131058,37.227371 211.159744,34.958256 
        C211.833069,34.789032 212.432938,34.327484 214.217804,33.410698 
        C212.211136,32.667824 211.328491,32.077549 210.426117,32.045650 
        C189.401352,31.302574 174.653748,43.393250 174.084259,65.839500 
        C173.657486,82.660278 173.905151,99.501518 174.073624,116.331436 
        C174.110870,120.052925 173.055817,121.896385 169.323853,123.134193 
        C154.759735,127.964798 140.473846,126.303612 126.012863,122.603477 
        C114.596710,119.682404 103.092979,116.296432 91.441689,115.302460 
        C76.324852,114.012840 60.977859,114.300423 46.013786,118.022789 
        C32.610043,121.357025 19.629511,125.680168 10.133375,136.480423 
        C6.736520,140.343781 4.024565,144.809311 1.000002,149.000000 
      M241.074936,201.275421 
        C244.496445,205.217529 247.465775,209.704849 251.429962,212.992630 
        C260.801697,220.765320 272.181122,221.415802 283.805756,221.075745 
        C291.699341,220.844833 298.675018,218.587067 304.791595,213.677948 
        C308.076691,211.041351 311.244446,208.258560 315.047272,205.050690 
        C315.047272,209.713562 315.047272,213.641235 315.047272,216.279648 
        C324.798920,216.279648 334.151978,216.200760 343.503021,216.304016 
        C351.339294,216.390533 359.291168,217.628265 366.978882,216.661896 
        C377.035065,215.397797 386.837250,214.763565 396.843231,216.773178 
        C401.604614,217.729446 406.578949,217.625473 411.680145,218.018997 
        C411.680145,214.736130 411.680145,212.004639 411.680145,209.320877 
        C398.454041,207.457184 394.599243,202.418167 394.285889,193.551117 
        C393.670807,176.144577 393.529236,158.560837 395.338165,141.275040 
        C397.088501,124.549088 405.279602,110.568558 425.668549,108.388931 
        C432.454163,107.663536 439.456238,109.540604 443.986542,115.926971 
        C452.230499,127.548355 452.919189,141.214142 453.834564,154.588898 
        C454.629303,166.200790 454.342224,177.924088 453.867798,189.571045 
        C453.595917,196.245438 452.583191,203.032074 450.762848,209.444229 
        C449.768158,212.948013 449.372223,215.393219 451.883148,217.907547 
        C466.542664,214.089325 481.085999,216.327057 495.794312,218.133728 
        C495.794312,214.390091 495.794312,211.445282 495.794312,208.348480 
        C493.910919,207.860336 492.179382,207.415512 490.449982,206.962601 
        C484.317413,205.356506 479.184692,199.730225 479.025208,194.107498 
        C478.620361,179.833511 478.493134,165.549805 477.924896,151.283142 
        C477.683441,145.221039 477.060760,139.100113 475.834320,133.166534 
        C473.231537,120.574547 468.351929,108.809090 456.519440,102.357033 
        C449.917023,98.756844 442.222260,96.362274 434.756866,95.334915 
        C424.361969,93.904427 413.906006,95.201340 405.247192,102.281944 
        C401.420166,105.411469 397.891174,108.905434 393.731842,112.683586 
        C393.731842,107.533432 393.731842,102.932098 393.731842,98.436142 
        C388.897461,97.354271 385.139313,98.316963 381.317322,101.020233 
        C372.742859,107.084892 362.812408,109.205482 352.226746,109.114250 
        C352.226746,111.504745 352.226746,113.440086 352.226746,115.591637 
        C353.844879,116.068520 355.366852,116.719559 356.949921,116.948593 
        C363.833649,117.944504 368.118134,121.851097 368.909393,128.598541 
        C369.524384,133.842758 369.894958,139.141220 369.952606,144.420166 
        C370.096436,157.584839 370.080292,170.752884 369.953949,183.917923 
        C369.912933,188.191910 369.556854,192.493073 368.949280,196.725021 
        C367.741364,205.138123 358.407959,210.712784 350.432434,207.989258 
        C342.920197,205.423950 339.008301,199.948029 339.002563,191.939285 
        C338.993103,178.773041 339.366211,165.592987 338.870483,152.445435 
        C338.543335,143.768951 337.750397,134.959473 335.791718,126.528824 
        C332.500427,112.362312 324.566742,101.837845 309.622589,97.798805 
        C297.271179,94.460533 284.807068,94.032166 272.411072,96.493637 
        C266.861786,97.595566 259.795624,97.788757 258.545258,104.871887 
        C255.375092,106.198639 252.313751,106.793549 250.152695,108.517204 
        C244.426651,113.084290 243.403366,120.204475 246.943588,126.815224 
        C249.726746,132.012314 257.407043,134.621613 264.520416,132.725800 
        C267.359528,131.969131 269.826782,131.203049 268.169586,127.086052 
        C267.464996,125.335686 268.262970,122.873688 268.680511,120.795883 
        C271.260529,107.957336 295.450470,104.016678 304.501404,112.937485 
        C316.284515,124.551178 313.165619,139.582489 315.291718,154.161423 
        C312.887329,153.417511 311.447754,153.098740 310.109283,152.538483 
        C295.983063,146.625519 281.350800,145.735458 266.616028,149.101669 
        C238.818970,155.452057 231.186234,180.045929 241.074936,201.275421 
      M503.058746,263.191528 
        C505.986572,265.278809 508.914398,267.366089 513.116394,270.361755 
        C514.506592,275.388092 519.895874,278.281860 526.179260,279.995300 
        C541.944946,284.294495 557.921814,283.976593 573.716125,280.801941 
        C588.464966,277.837341 601.089661,271.215454 607.357849,256.225555 
        C611.224976,246.977753 612.841675,237.227951 612.912964,227.357727 
        C613.145264,195.206024 612.957214,163.051483 613.048035,130.898361 
        C613.061035,126.291107 613.329590,121.612175 614.180603,117.098526 
        C615.180420,111.795570 616.242737,106.013954 623.677734,106.653961 
        C623.677734,103.580772 623.677734,100.993523 623.677734,97.539932 
        C617.084595,98.113548 610.659180,97.832565 604.737000,99.424286 
        C598.826904,101.012772 593.215027,104.232315 591.400635,111.629807 
        C589.644958,109.971458 588.461792,109.060829 587.530823,107.940567 
        C582.040894,101.334061 574.928711,97.170097 566.578186,96.226044 
        C559.125610,95.383499 551.434448,95.320335 543.976379,96.114296 
        C524.167297,98.223106 509.587738,108.314880 500.887970,126.434158 
        C493.246155,142.349976 493.784210,159.066666 496.493011,175.884033 
        C498.083527,185.758774 501.863800,194.880875 508.229187,202.655182 
        C524.761230,222.846466 552.827942,224.576340 574.051941,217.829117 
        C578.841309,216.306564 583.051514,212.962341 587.968018,210.210571 
        C587.968018,218.726013 588.627075,227.070648 587.789124,235.262131 
        C586.888123,244.069672 584.701904,252.863342 578.607239,259.815582 
        C569.828796,269.829346 558.238403,271.408173 545.962891,269.397888 
        C534.099182,267.455078 526.762451,259.933685 523.411743,248.640961 
        C522.226074,244.644791 522.066589,240.344116 521.440674,236.195816 
        C501.637390,238.822235 497.649811,250.367188 503.058746,263.191528 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M1.000002,149.467606 
        C4.024565,144.809311 6.736520,140.343781 10.133375,136.480423 
        C19.629511,125.680168 32.610043,121.357025 46.013786,118.022789 
        C60.977859,114.300423 76.324852,114.012840 91.441689,115.302460 
        C103.092979,116.296432 114.596710,119.682404 126.012863,122.603477 
        C140.473846,126.303612 154.759735,127.964798 169.323853,123.134193 
        C173.055817,121.896385 174.110870,120.052925 174.073624,116.331436 
        C173.905151,99.501518 173.657486,82.660278 174.084259,65.839500 
        C174.653748,43.393250 189.401352,31.302574 210.426117,32.045650 
        C211.328491,32.077549 212.211136,32.667824 214.217804,33.410698 
        C212.432938,34.327484 211.833069,34.789032 211.159744,34.958256 
        C202.131058,37.227371 198.057816,42.016598 198.040070,51.435719 
        C197.953400,97.430832 197.975433,143.426239 198.025894,189.421448 
        C198.034088,196.892807 203.442566,203.262543 210.947235,204.875076 
        C213.998596,205.530701 217.126648,205.829361 220.613831,206.349197 
        C220.613831,209.948563 220.613831,213.660431 220.613831,218.508408 
        C197.292175,214.726486 174.040939,214.447906 150.404907,218.717651 
        C150.404907,214.068893 150.404907,210.355255 150.404907,206.530609 
        C152.946777,206.053894 155.474442,205.355988 158.043015,205.136200 
        C170.268265,204.090073 173.338669,196.654907 173.843613,187.260834 
        C174.477158,175.474106 173.996109,163.627457 173.996109,151.353394 
        C158.606888,156.402802 145.311020,150.296890 132.034302,144.479233 
        C117.527359,138.122513 102.627823,132.703476 86.860725,131.289474 
        C71.319405,129.895706 55.749985,130.932922 42.063931,140.005096 
        C29.087955,148.606598 23.804970,168.389816 30.840754,182.348541 
        C34.031727,188.679306 39.872086,191.113937 46.741314,191.286072 
        C45.837650,195.541779 39.943150,197.560867 30.749605,196.997101 
        C21.925392,196.455994 15.465990,188.735001 14.830359,177.487900 
        C7.924978,176.932739 4.337902,172.103958 1.332083,166.124908 
        C1.000000,160.645065 1.000000,155.290146 1.000002,149.467606 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M753.000000,169.666687 
        C752.034851,172.296844 750.717529,174.511368 750.158569,176.903137 
        C743.991882,203.288315 720.248291,221.229630 693.729797,221.130829 
        C680.737427,221.082413 668.578735,219.417831 657.378052,212.212280 
        C643.799255,203.476852 635.256042,191.270325 631.494873,175.834335 
        C627.369995,158.906143 628.026550,142.036758 636.033081,126.308014 
        C645.220032,108.260262 660.486267,98.710472 680.554565,95.855194 
        C694.230713,93.909393 707.241760,95.472404 719.635193,101.000481 
        C736.775574,108.645973 746.703552,122.407639 750.986084,140.473404 
        C751.323242,141.895782 751.882324,143.265579 752.669067,144.829895 
        C753.000000,145.000000 753.000000,145.500000 752.674683,145.922134 
        C752.566284,147.896179 752.783142,149.448090 753.000000,151.000000 
        C753.000000,154.692902 753.000000,158.385818 752.674683,162.711487 
        C752.566284,164.896179 752.783142,166.448090 753.000000,168.000000 
        C753.000000,168.444443 753.000000,168.888901 753.000000,169.666687 
      M673.438904,203.132401 
        C686.039673,211.637299 707.231506,211.029785 716.858582,194.828812 
        C730.549988,171.788040 730.837036,147.572906 718.737793,123.749138 
        C713.175781,112.797226 702.408264,107.914444 690.742493,108.277328 
        C674.228577,108.791016 663.202759,116.811371 658.035339,135.208755 
        C654.933533,146.252472 654.216919,157.460617 655.892151,168.947479 
        C657.828979,182.228149 661.743225,194.259384 673.438904,203.132401 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M281.562500,1.000000 
        C285.471985,5.040928 288.724243,9.037374 288.072662,15.021736 
        C287.450043,20.739891 283.011658,26.578194 277.338287,26.817562 
        C272.589508,27.017918 270.153809,27.978245 269.610199,33.333687 
        C269.135284,38.012688 262.352234,41.437901 256.492706,42.080513 
        C243.272690,43.530354 232.045303,37.558884 220.586380,32.755020 
        C201.729126,24.849613 182.563278,18.654387 161.787735,20.054424 
        C150.496140,20.815348 139.394730,23.286777 130.476486,30.530329 
        C126.190063,34.011833 122.695084,39.250523 120.558716,44.405098 
        C117.663429,51.390759 117.506454,59.175049 119.374420,66.639442 
        C121.135880,73.678223 125.960648,79.488289 137.255600,80.449463 
        C136.607651,81.699738 136.354797,83.086563 135.545547,83.605148 
        C129.717880,87.339653 116.973152,87.227821 112.230759,82.286728 
        C108.896324,78.812592 107.486061,73.521103 105.061157,69.126884 
        C104.319855,67.783554 103.295349,66.174149 102.002991,65.628967 
        C95.765625,62.997749 92.561989,57.942444 91.919991,51.197491 
        C89.871231,29.672977 103.474976,19.316090 120.358559,12.103626 
        C140.629333,3.444193 162.267059,2.506903 183.673874,4.377782 
        C197.240021,5.563416 210.429504,10.629245 223.907791,13.363991 
        C239.043976,16.435122 254.103790,16.804531 267.825562,7.975766 
        C270.427002,6.301977 272.476837,3.770929 274.890594,1.317714 
        C277.041656,1.000000 279.083344,1.000000 281.562500,1.000000 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M60.444164,329.000000 
        C60.000000,325.202179 60.000000,321.404388 60.000000,317.883026 
        C64.892929,316.737518 69.449547,316.088165 73.701180,314.579407 
        C80.414444,312.197083 83.034393,306.891174 83.025223,299.915466 
        C82.973167,260.292419 82.866943,220.668533 83.096176,181.046738 
        C83.151573,171.473160 84.834053,161.976654 91.300461,154.263779 
        C98.321854,145.888931 111.205910,141.612411 123.886246,143.719193 
        C122.396538,144.821304 121.652969,145.835724 120.816971,145.918671 
        C111.644325,146.828918 108.023689,153.605164 108.017433,161.688004 
        C107.981583,207.970428 108.141541,254.253723 107.869034,300.534576 
        C107.820206,308.826996 114.046135,314.475922 121.039505,315.959961 
        C124.081467,316.605469 127.196365,316.907318 131.000000,317.472504 
        C131.000000,320.877380 131.000000,324.475586 131.000000,328.536896 
        C128.629440,329.000000 126.258888,329.000000 123.214600,328.644836 
        C119.569443,328.180573 116.521393,328.460480 113.640244,327.893005 
        C102.897789,325.777130 92.122032,326.027161 81.331444,327.051483 
        C76.866211,327.475372 72.442558,328.337311 68.000000,329.000000 
        C65.629440,329.000000 63.258884,329.000000 60.444164,329.000000 
      z"/>
      <path fill="transparent" opacity="1.000000" stroke="none" 
        d="
      M68.468658,329.000000 
        C72.442558,328.337311 76.866211,327.475372 81.331444,327.051483 
        C92.122032,326.027161 102.897789,325.777130 113.640244,327.893005 
        C116.521393,328.460480 119.569443,328.180573 122.770439,328.644836 
        C104.979103,329.000000 86.958214,329.000000 68.468658,329.000000 
      z"/>
      <path fill="transparent" opacity="1.000000" stroke="none" 
        d="
      M753.000000,150.583344 
        C752.783142,149.448090 752.566284,147.896179 752.674683,146.172134 
        C753.000000,147.388885 753.000000,148.777786 753.000000,150.583344 
      z"/>
      <path fill="transparent" opacity="1.000000" stroke="none" 
        d="
      M753.000000,167.583344 
        C752.783142,166.448090 752.566284,164.896179 752.674683,163.172134 
        C753.000000,164.388885 753.000000,165.777786 753.000000,167.583344 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M240.971100,200.908447 
        C231.186234,180.045929 238.818970,155.452057 266.616028,149.101669 
        C281.350800,145.735458 295.983063,146.625519 310.109283,152.538483 
        C311.447754,153.098740 312.887329,153.417511 315.291718,154.161423 
        C313.165619,139.582489 316.284515,124.551178 304.501404,112.937485 
        C295.450470,104.016678 271.260529,107.957336 268.680511,120.795883 
        C268.262970,122.873688 267.464996,125.335686 268.169586,127.086052 
        C269.826782,131.203049 267.359528,131.969131 264.520416,132.725800 
        C257.407043,134.621613 249.726746,132.012314 246.943588,126.815224 
        C243.403366,120.204475 244.426651,113.084290 250.152695,108.517204 
        C252.313751,106.793549 255.375092,106.198639 258.545258,104.871887 
        C259.795624,97.788757 266.861786,97.595566 272.411072,96.493637 
        C284.807068,94.032166 297.271179,94.460533 309.622589,97.798805 
        C324.566742,101.837845 332.500427,112.362312 335.791718,126.528824 
        C337.750397,134.959473 338.543335,143.768951 338.870483,152.445435 
        C339.366211,165.592987 338.993103,178.773041 339.002563,191.939285 
        C339.008301,199.948029 342.920197,205.423950 350.432434,207.989258 
        C358.407959,210.712784 367.741364,205.138123 368.949280,196.725021 
        C369.556854,192.493073 369.912933,188.191910 369.953949,183.917923 
        C370.080292,170.752884 370.096436,157.584839 369.952606,144.420166 
        C369.894958,139.141220 369.524384,133.842758 368.909393,128.598541 
        C368.118134,121.851097 363.833649,117.944504 356.949921,116.948593 
        C355.366852,116.719559 353.844879,116.068520 352.226746,115.591637 
        C352.226746,113.440086 352.226746,111.504745 352.226746,109.114250 
        C362.812408,109.205482 372.742859,107.084892 381.317322,101.020233 
        C385.139313,98.316963 388.897461,97.354271 393.731842,98.436142 
        C393.731842,102.932098 393.731842,107.533432 393.731842,112.683586 
        C397.891174,108.905434 401.420166,105.411469 405.247192,102.281944 
        C413.906006,95.201340 424.361969,93.904427 434.756866,95.334915 
        C442.222260,96.362274 449.917023,98.756844 456.519440,102.357033 
        C468.351929,108.809090 473.231537,120.574547 475.834320,133.166534 
        C477.060760,139.100113 477.683441,145.221039 477.924896,151.283142 
        C478.493134,165.549805 478.620361,179.833511 479.025208,194.107498 
        C479.184692,199.730225 484.317413,205.356506 490.449982,206.962601 
        C492.179382,207.415512 493.910919,207.860336 495.794312,208.348480 
        C495.794312,211.445282 495.794312,214.390091 495.794312,218.133728 
        C481.085999,216.327057 466.542664,214.089325 451.883148,217.907547 
        C449.372223,215.393219 449.768158,212.948013 450.762848,209.444229 
        C452.583191,203.032074 453.595917,196.245438 453.867798,189.571045 
        C454.342224,177.924088 454.629303,166.200790 453.834564,154.588898 
        C452.919189,141.214142 452.230499,127.548355 443.986542,115.926971 
        C439.456238,109.540604 432.454163,107.663536 425.668549,108.388931 
        C405.279602,110.568558 397.088501,124.549088 395.338165,141.275040 
        C393.529236,158.560837 393.670807,176.144577 394.285889,193.551117 
        C394.599243,202.418167 398.454041,207.457184 411.680145,209.320877 
        C411.680145,212.004639 411.680145,214.736130 411.680145,218.018997 
        C406.578949,217.625473 401.604614,217.729446 396.843231,216.773178 
        C386.837250,214.763565 377.035065,215.397797 366.978882,216.661896 
        C359.291168,217.628265 351.339294,216.390533 343.503021,216.304016 
        C334.151978,216.200760 324.798920,216.279648 315.047272,216.279648 
        C315.047272,213.641235 315.047272,209.713562 315.047272,205.050690 
        C311.244446,208.258560 308.076691,211.041351 304.791595,213.677948 
        C298.675018,218.587067 291.699341,220.844833 283.805756,221.075745 
        C272.181122,221.415802 260.801697,220.765320 251.429962,212.992630 
        C247.465775,209.704849 244.496445,205.217529 240.971100,200.908447 
      M301.552673,204.136688 
        C309.658295,197.973511 316.921143,191.389648 315.052032,179.664185 
        C314.690063,177.393509 314.724152,174.975647 315.055420,172.695389 
        C315.826843,167.385406 314.158203,164.576523 308.656433,162.679733 
        C299.714111,159.596802 290.531921,157.481308 281.497162,159.310257 
        C269.952637,161.647247 261.253387,168.722198 262.968689,185.900421 
        C263.895020,195.177155 268.156097,202.344971 276.651276,206.072357 
        C284.757721,209.629166 293.138855,209.659256 301.552673,204.136688 
      z"/>
      <path fill="#FF6F91" opacity="1.000000" stroke="none" 
        d="
      M502.942780,262.813629 
        C497.649811,250.367188 501.637390,238.822235 521.440674,236.195816 
        C522.066589,240.344116 522.226074,244.644791 523.411743,248.640961 
        C526.762451,259.933685 534.099182,267.455078 545.962891,269.397888 
        C558.238403,271.408173 569.828796,269.829346 578.607239,259.815582 
        C584.701904,252.863342 586.888123,244.069672 587.789124,235.262131 
        C588.627075,227.070648 587.968018,218.726013 587.968018,210.210571 
        C583.051514,212.962341 578.841309,216.306564 574.051941,217.829117 
        C552.827942,224.576340 524.761230,222.846466 508.229187,202.655182 
        C501.863800,194.880875 498.083527,185.758774 496.493011,175.884033 
        C493.784210,159.066666 493.246155,142.349976 500.887970,126.434158 
        C509.587738,108.314880 524.167297,98.223106 543.976379,96.114296 
        C551.434448,95.320335 559.125610,95.383499 566.578186,96.226044 
        C574.928711,97.170097 582.040894,101.334061 587.530823,107.940567 
        C588.461792,109.060829 589.644958,109.971458 591.400635,111.629807 
        C593.215027,104.232315 598.826904,101.012772 604.737000,99.424286 
        C610.659180,97.832565 617.084595,98.113548 623.677734,97.539932 
        C623.677734,100.993523 623.677734,103.580772 623.677734,106.653961 
        C616.242737,106.013954 615.180420,111.795570 614.180603,117.098526 
        C613.329590,121.612175 613.061035,126.291107 613.048035,130.898361 
        C612.957214,163.051483 613.145264,195.206024 612.912964,227.357727 
        C612.841675,237.227951 611.224976,246.977753 607.357849,256.225555 
        C601.089661,271.215454 588.464966,277.837341 573.716125,280.801941 
        C557.921814,283.976593 541.944946,284.294495 526.179260,279.995300 
        C519.895874,278.281860 514.506592,275.388092 513.116394,270.361755 
        C508.914398,267.366089 505.986572,265.278809 502.942780,262.813629 
      M522.970581,179.486252 
        C524.627502,187.773651 527.930603,195.460144 534.486328,200.797226 
        C551.502258,214.649902 577.136963,209.965775 585.979675,186.691833 
        C591.386230,172.462082 592.675842,157.731354 589.853821,142.938721 
        C586.398865,124.828499 576.901855,106.840248 552.052551,108.975975 
        C541.139526,109.913902 532.368958,114.438683 527.366821,124.366371 
        C518.597534,141.770767 518.834290,160.094955 522.970581,179.486252 
      z"/>
      <path fill="transparent" opacity="1.000000" stroke="none" 
        d="
      M673.087158,203.028763 
        C661.743225,194.259384 657.828979,182.228149 655.892151,168.947479 
        C654.216919,157.460617 654.933533,146.252472 658.035339,135.208755 
        C663.202759,116.811371 674.228577,108.791016 690.742493,108.277328 
        C702.408264,107.914444 713.175781,112.797226 718.737793,123.749138 
        C730.837036,147.572906 730.549988,171.788040 716.858582,194.828812 
        C707.231506,211.029785 686.039673,211.637299 673.087158,203.028763 
      z"/>
      <path fill="transparent" opacity="1.000000" stroke="none" 
        d="
      M301.256714,204.362228 
        C293.138855,209.659256 284.757721,209.629166 276.651276,206.072357 
        C268.156097,202.344971 263.895020,195.177155 262.968689,185.900421 
        C261.253387,168.722198 269.952637,161.647247 281.497162,159.310257 
        C290.531921,157.481308 299.714111,159.596802 308.656433,162.679733 
        C314.158203,164.576523 315.826843,167.385406 315.055420,172.695389 
        C314.724152,174.975647 314.690063,177.393509 315.052032,179.664185 
        C316.921143,191.389648 309.658295,197.973511 301.256714,204.362228 
      z"/>
      <path fill="transparent" opacity="1.000000" stroke="none" 
        d="
      M522.911743,179.069031 
        C518.834290,160.094955 518.597534,141.770767 527.366821,124.366371 
        C532.368958,114.438683 541.139526,109.913902 552.052551,108.975975 
        C576.901855,106.840248 586.398865,124.828499 589.853821,142.938721 
        C592.675842,157.731354 591.386230,172.462082 585.979675,186.691833 
        C577.136963,209.965775 551.502258,214.649902 534.486328,200.797226 
        C527.930603,195.460144 524.627502,187.773651 522.911743,179.069031 
      z"/>
      </svg>
    </div>
    <div id="header-home-words" class="hidden h-14 font-['Milonga']"><h1>Transformational Tango</h1><span class="tagline">dance, connect, evolve</span></div>
  </a>
  <div>
    <div class="flex items-center gap-6">
      <nav class="hidden sm:block">
        <ul class="flex items-center gap-6">
          {
            navItems.map(({ title, url, target, }) => (
              <li>
                <a class="text-sm" href={url} target={target}>
                  {title}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <button
        id="open-nav-button"
        type="button"
        class="btn sm:hidden"
        aria-label="Navigation"
      >
        <Icon pack="mdi" name="menu" class="h-8" />
      </button>
      <ThemeSwitcher />
    </div>
    <div id="menu-modal" class="modal hidden" aria-hidden="true">
      <div class="fixed inset-0 bg-default px-8 py-4 text-default">
        <div class="space-y-4" role="dialog" aria-modal="true">
          <header class="text-right">
            <button
              id="close-nav-button"
              type="button"
              class="btn"
              aria-label="Close navigation"
            >
              <Icon pack="mdi" name="close" class="h-8" />
            </button>
          </header>
          <div class="flex justify-center">
            <Icon pack="simple-icons" name="bytedance" class="h-16" />
          </div>
          <nav>
            <ul class="flex flex-col">
              {
                navItems.map(({ title, url }) => (
                  <li>
                    <a class="block py-4 text-center text-xl" href={url}>
                      {title}
                    </a>
                  </li>
                ))
              }
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  import MicroModal from "micromodal";
  import invariant from "tiny-invariant";

  const menuModalId = "menu-modal";

  const header = document.querySelector("#page-header") as HTMLElement;
  const headerHomeIcon = document.querySelector("#header-home-icon") as HTMLElement;
  const headerHomeWords = document.querySelector("#header-home-words") as HTMLElement;
  const page = document.documentElement;
  const menu = document.querySelector(`#${menuModalId} ul`);
  const openNavButton = document.querySelector("#open-nav-button");
  const closeNavButton = document.querySelector("#close-nav-button");

  invariant(header, "header should not be null");
  invariant(menu, "menu should not be null");
  invariant(openNavButton, "openNavButton should not be null");
  invariant(closeNavButton, "closeNavButton should not be null");

  const openMenu = () => {
    MicroModal.show(menuModalId, { disableScroll: true });
  };

  const closeMenu = () => {
    MicroModal.close(menuModalId);
  };

  openNavButton.addEventListener("click", openMenu);
  closeNavButton.addEventListener("click", closeMenu);

  document.addEventListener("scroll", () => {
    const d = page.clientHeight - page.scrollTop - header.offsetHeight;
    header.classList.toggle("fixed-header", d < 0);
    headerHomeIcon.classList.toggle("sm:block", d < 0);
    headerHomeWords.classList.toggle("sm:block", d < 0);
  });

  menu.addEventListener("click", (event) => {
    if ((event.target as HTMLElement).tagName === "A") {
      closeMenu();
    }
  });
</script>

<noscript>
  <style>
    #open-nav-button {
      display: none;
    }
  </style>
</noscript>

<style>
  .fixed-header {
    @apply fixed bottom-auto top-0;
    @apply border-default bg-default text-default;
  }
  .modal.is-open {
    @apply block;
  }
  .tagline {
    display: block;
    color: #ED768D;
    font-size: 16px;
    margin-top: -6px;
    text-align: right;
    margin-right: 1px;
  }
</style>
