---
import ContentSection from "~/components/content-section.astro";
import venue1 from "~/images/venue/venue1.jpg";
import venue2 from "~/images/venue/venue2.jpg";
import venue3 from "~/images/venue/venue3.png";
import venue4 from "~/images/venue/venue4.jpg";
import venue5 from "~/images/venue/venue5.jpg";
import venue6 from "~/images/venue/venue6.jpg";
import venue7 from "~/images/venue/venue7.jpg";
import venue8 from "~/images/venue/venue8.jpg";
import venue9 from "~/images/venue/venue9.jpg";
import venue10 from "~/images/venue/venue10.jpg";
import venue11 from "~/images/venue/venue11.jpg";
import venue12 from "~/images/venue/venue12.jpg";
import venue13 from "~/images/venue/venue13.jpg";
import venue14 from "~/images/venue/venue14.jpg";
import venue15 from "~/images/venue/venue15.jpg";
---

<ContentSection title="Venue" id="venue">
  <Fragment slot="lead">
  </Fragment>

    <div class="grid grid-cols-1 md:grid-cols-2 md:gap-8 border-b-2 md:border-b-0 border-black-300 pb-8">
        <div class="flex flex-col self-start gap-8 sm:self-auto sm:justify-self-start text-offset mb-8">
          <img src={venue1.src} alt="" class="">
          <img src={venue2.src} alt="" class="">
          <img src={venue5.src} alt="" class="">
          <img src={venue6.src} alt="" class="">
          <img src={venue14.src} alt="" class="">
          <img src={venue7.src} alt="" class="">
          <img src={venue8.src} alt="" class="">
          <img src={venue3.src} alt="" class="">
        </div>
        <div class="flex flex-col gap-8 text-offset text-sm">
          <img src={venue4.src} alt="" class="">
          <p class="text-offset font-extrabold text-xl mt-4">
          Key part of this retreat is <span class="text-primary">finding solace</span>, with time to reflect and relax. 
          </p>
          <p>
          Set in a secluded location at the top of its own private valley looking to the sea, 
          Santillán is a 5 hectare estate with a retreat centre at its heart.</p>
          <p>
          Located in the peace of the Spanish countryside, and yet conveniently 
          only <a href="https://www.santillanretreat.com/contact-us/" target="_blank" class="text-primary">35 minutes drive from Malaga airport</span></a>, you can immerse yourself 
          in the peaceful sounds of nature in its lovely gardens 
          and surrounding hills. It is the perfect setting for our retreat. </p>

          <div class="text-center"><b>Santillan Retreat address</b>
            <br />
            Carretera Macharaviaya km 3<br />
            Rincón de la Victoria, Malaga<br /><br />
            Nearest Airport is Malaga<br />
            Closest train station: María Zambrano<br /><br />
            Santillan organises airport transfers<br /> for the guests which we recommend you use:<br /><br />
            <ul>
              <li>1-3 guests : 55€/ trip</li>
              <li>4-7 guests : 70€/trip</li>
            </ul>
          </div>
          <p>Note, that closer to the date of the retreat, 
            we will add you to a WhatsApp group  and you will be able to arrange 
            your group trip with other participants.</p>

          <img src={venue9.src} alt="" class="">
          <img src={venue10.src} alt="" class="">
          <img src={venue15.src} alt="" class="">
          <img src={venue13.src} alt="" class="">
          <img src={venue11.src} alt="" class="">
          <img src={venue12.src} alt="" class="">
        </div >
      </div>       
</ContentSection>
